[2016-12-07 12:16] FlorianDecker opened #1 "Add configuration to skip the creation of .resx files without entries"
Hi!

We would like the possibility to skip the creation of empty resx files when importing from excel.

Our concrete use case is, that we are using country variant cultures and only a few of our resources actually need a country variant localization. Therefore, during the import there are a lot of empty .resx files added, which are going to stay empty and only clutter the solution or need to be re

[2016-12-07 13:33] tom-englert commented on #1
I think during excel import this should be the default behavior, I wonder if we really need this to be configurable?

[2016-12-08 07:10] tom-englert commented on #1
I think this is a bug and does not need any configuration - it should just verify accessibility of cultures that are not empty. See http://resxresourcemanager.codeplex.com/SourceControl/changeset/37674; will be synchronized with github soon.

[2016-12-08 18:56] #1 closed

[2016-12-12 08:47] FlorianDecker commented on #1
Thanks for the quick response and the quick fix!
Do you have an estimate when this fix will be released?

[2016-12-12 10:47] tom-englert commented on #1
probably next weekend.

[2017-01-29 04:24] maikebing opened #2 "Not save last time selected in "Move to Resource ""
this is good work!
I like it very much

![image](https://cloud.githubusercontent.com/assets/3445167/22401832/47966926-e61e-11e6-926b-a15b88bd77ee.png)
Every time you need to choose, so it is not convenient.

[2017-01-29 09:10] tom-englert commented on #2
Which item do you mean? Or do you want to omit the whole dialog?

[2017-01-29 16:35] maikebing commented on #2
1st.
Resource:

[2017-01-30 12:30] tom-englert commented on #2
It remembers the last selection, but if you have a resource file in the current assembly, it defaults to the resources of the assembly.
This is because if it only remembers the last selection, I frequently ended up with resources added to the wrong assembly.
It currently assumes that you have either one single resource assembly per solution, or one resource per assembly. In the latter case you rat

[2017-02-04 17:49] tom-englert commented on #2
@maikebing any proposals on this?

[2017-02-05 02:32] maikebing commented on #2
We recently had a Chinese New Year holiday, and my child will soon be born, so I'm sorry to reply to you so late!
We can use a common resource file for each assembly by default! Those who do not have the resources of the document can be used by default, such as class!
Forms, controls, components and other resources of the document is directly added to the string in their own resources document.

[2017-02-05 02:36] maikebing commented on #2
如果有选项更好， 我可以选择 是按照上面的方式， 或者是所有字符串资源都放在一个资源文件中。

If there are options better, I can choose is in accordance with the above way, or all the string resources are placed in a resource file.

[2017-02-22 18:44] maikebing opened #3 "ResX Resource Manager can't show "Main "!"
![image](https://cloud.githubusercontent.com/assets/3445167/23226828/ff7422d4-f971-11e6-9ef9-f14577a14b96.png)

ResX Resource Manager loaded.
Home: http://resxresourcemanager.codeplex.com/
Report issues: http://resxresourcemanager.codeplex.com/workitem/list/basic
Support the project by adding a short review: http://visualstudiogallery.msdn.microsoft.com/3b64e04c-e8de-4b97-8358-06c73a97cc68/view/Re

[2017-02-23 12:34] tom-englert commented on #3
I think you have another of my extensions installed (e.g. Wax), and this bug appears depending on in which order the windows of both are loaded. After restarting VS it should be fine again.

This is due to https://connect.microsoft.com/VisualStudio/feedback/details/2993889/wpf-fails-to-load-resources-if-two-versions-of-the-same-assembly-are-loded

Microsoft has confirmed this to be a bug, but it's

[2017-02-23 14:23] maikebing commented on #3
V 1.0.0.92   is well!
only V 1.0.0.93  found this   error!

So what is the change between version 1.0.0.93 and version V 1.0.0.92 ?

[2017-02-23 14:31] tom-englert commented on #3
Yes, both are using https://github.com/tom-englert/TomsToolbox.
I'll have to update wax to use the same version as ResXManager.

[2017-02-24 03:29] maikebing commented on #3
try this ?
[code]

[2017-02-24 09:23] tom-englert commented on #3
Patch the app.config of Visual Studio?

[2017-02-24 15:14] maikebing commented on #3
http://stackoverflow.com/questions/25792540/sidebyside-error-with-binding-redirect-in-net-windows-service
[code]

[2017-02-25 10:11] tom-englert commented on #3
But this is not a side-by-side error. Side-by-side works great in this scenario- except for the resource bug in WPF - because every extension exists in a separate folder.

To solve this problem with the above sample, any VS extension would need to scan all other extensions when loaded, check their dependencies, load the dependent assemblies of another extensions if it provides a newer version and

[2017-02-25 14:09] maikebing commented on #3
It is trouble.

[2017-03-07 08:36] maikebing opened #4 "When can localization? I want to translate chinese."
Do you have any plans for localization recently?

[2017-03-07 14:21] tom-englert commented on #4
just provide a PR, and I will include it in the next release...

[2017-03-07 14:22] tom-englert commented on #3
If you have the latest versions of all extensions, this should be no problem any more.
Can you confirm this?

[2017-03-08 07:52] maikebing commented on #3
It's OK!

[2017-03-08 07:52] #3 closed

[2017-03-19 15:03] tom-englert commented on #2
I have made some improvements, that should increase usability:
- if the assembly containing the source file has a resource, this is the first entry
- the resource that you used during the last operation will be the second entry
- then all other entries follow as before

This way it's fast changing from the recommended to the last used entry...

[2017-04-09 14:19] nmamanx opened #6 "DNN Tokens"
Hello,
What is the Regex to be adding for supporting "dotnetnuke tokens"?,
And what are the configuration for it?
Adding same example\links:
dnn tokens:  http://www.dnnsoftware.com/wiki/tokens
Regex for dnn tokens:  \[(\w+|\W*?:\w+|\W*?)*\]  (it is o.k?)
Example for tokens:
[Portal:Currency]
[Portal:Description]
[Portal:Email]
[Portal:FooterText]
[Portal:HomeDirectory]
[Portal:LogoFile]
[Portal:Po

[2017-04-09 14:29] tom-englert commented on #6
I assume you are talking about "Detect Code References" configuration, right?
But how would that tokens map to the keys in the resource files?

[2017-04-09 14:30] tom-englert commented on #2
@maikebing did you try it?

[2017-04-09 20:07] nmamanx commented on #6
did not worked.
[User] , did not work at all
[User:Username] , first word translated. only the second did not translated.

[2017-04-09 20:40] nmamanx commented on #6
a good regex for dnn tokens:
\[(\w+)\]|\[(\w+:\w+)\]
but still did not working good :(

[2017-04-10 00:26] Jaso66 opened #7 "Can't get v1.0.0.97 Publish to install"
Tried all of the exe in the zip.
Got this error.

+ Downloading https://clickonce-tom-englert.azurewebsites.net/ResXResourceManager/ResXManager.application/ResXManager.application did not succeed.
+ The remote server returned an error: (404) Not Found.

[2017-04-10 06:21] tom-englert commented on #6
I'm not sure what you are talking about.
* I assume you are talking about "Detect Code References" configuration, right? Or is this question about how to use resx with dnn tokens in general?
* But how would that tokens map to the keys in the resource files?  How will this dnn tokens access the resources?

[2017-04-10 07:27] tom-englert commented on #7
Url fixed

[2017-04-10 07:27] #7 closed

[2017-04-18 10:25] phantomfuxor opened #8 "Wrongly taken automatic already existing resource"
Hi, first of all - best extension ever!

And now to the problem:
I have a Solution in Visual studio 2015 with around 20ish projects.
Most of the projects are libraries and what not, and they are all included into one main project.
I've started localizing stuff in it and here's what I do and get:
Both in xaml or c# code:
1. Select the text
2. Right click and select move to resources
3. RESX window

[2017-04-18 13:15] tom-englert commented on #6
@nmamanx can you please clarify what this issue is about?

[2017-04-18 14:06] #8 closed

[2017-04-18 14:28] IsmailHassani opened #9 "Authentication key is not saved"
The application key for azure translations is not saved.
After closing and restarting VS2017 the field is empty.

[2017-04-18 17:50] #9 closed

[2017-04-19 12:09] phantomfuxor commented on #8
hi, there is still one problem with this.
I've updated to 1.0.0.98 version and here's what I get now (steps):

1. Select text
2. Right click and move to resources
3. Now -> Check First image (i've selected the problem with red color)
selected resource is now ok, but Code isn't, because it points to another resx that has nothing to do with the resources.resx.

Now to "fix" that and continue I do th

[2017-04-21 13:36] svatauli opened #10 "How to setup creating key in resource?"
Hi all,

can you tell how can I setup key to: Namespace+ClassName+Property...

Thanks.

[2017-04-21 15:28] tom-englert commented on #10
I assume you are talking about "move to resource", right?

Where would you get property from?

[2017-04-25 12:44] vsmahesh opened #11 "Scripting error in V 1.0.0.99"
**I was trying the new version of scripting (1.0.0.99) and I am getting the following error. Its working fine in 1.0.0.96. It could be introduced between 1.0.0.97-99.**

New-Object : Exception calling ".ctor" with "0" argument(s): "No exports were found that match the constraint:
    ContractName    ResXManager.Scripting.SourceFilesProvider
    RequiredTypeIdentity    ResXManager.Scripting.SourceF

[2017-04-26 06:50] vsmahesh opened #12 "Text Change Suggestions in Wiki"
Could you change the word Downloads page to Release page since download page no longer exists? This is bit confusing for the end user.

**Pages needs to be changed**
https://github.com/tom-englert/ResXResourceManager/wiki/Installation
https://github.com/tom-englert/ResXResourceManager/wiki/Scripting

Also you could add hyperlink to the release page for better usability. I don't know how to create

[2017-04-27 06:33] tom-englert commented on #12
OK, fixed

[2017-04-27 06:33] #12 closed

[2017-04-27 18:02] tom-englert commented on #6
Close issue since I still have no clue what this is about, and no reply from @nmamanx

[2017-04-27 18:02] #6 closed

[2017-04-27 18:03] tom-englert commented on #10
@svatauli: any more specific info what this is about?

[2017-05-01 14:15] tom-englert commented on #11
Fixed in v1.1

[2017-05-01 14:15] #11 closed

[2017-05-01 14:16] tom-englert commented on #10
Closed - no clue what this is about, and no more info provided.

[2017-05-01 14:16] #10 closed

[2017-05-01 14:17] tom-englert commented on #2
I assume this is fitting your needs...

[2017-05-01 14:17] #2 closed

[2017-05-19 13:49] yinyue200 commented on #4
I have done it. see #13

[2017-05-20 04:25] #4 closed

[2017-05-27 20:47] werddomain opened #14 "Asp.Net Core"
I have a asp.net core with resources in an other project.
When i open the Resx Manager the first time, visual studio stop responding.

The next time i have open it, it worked.
Just want to let you know ;-)

[2017-05-27 21:00] werddomain commented on #14
Same thing happen when you translate, aply all and a resource for a language need to be created

[2017-06-05 09:51] tom-englert commented on #14
Maybe that's due to the way how the solution enumerates all items.
In asp.net projects all files in the (sub)folders are considered as item of the project, which can be many and may take a long time to cache.

If VS stops responding, does it utilize processor and disk time, or is it idle?

[2017-06-07 15:21] vdurante opened #15 "Use Detect Code References to fill resx file"
Hey. Beforehand I would like to thank you for this amazing tool. It is incredible!

I Noticed the Detect Code References in configuration. I would like to know if it is possible to detect keys using a regex and automatically add them to the resx files. I know there is a Move to Resource option, but I would like to do it automatically.

Thanks in advance

[2017-06-08 04:47] zako16 opened #16 "Languages"
There is only 3 languages enable for resources? Can we add our custom language? For example russian, kyrgyz languages

[2017-06-08 06:45] zako16 commented on #16
Find, sorry

[2017-06-08 06:45] #16 closed

[2017-06-08 11:35] tom-englert commented on #15
But if you already have keys in your source, what would these keys reference if there is not already a resource for it?
Maybe you want to detect strings and automatically convert them to resources?

[2017-06-13 13:22] Shameer-Ali opened #17 "How to get content from the namespace "Microsoft.AspNet.Mvc.Razor.HelperResult""
I have created a custom component by using Html Helper in ASP.NET MVC. Also, did the same logic in ASP.NET Core platform.

My component will be working fine, when I have set the properties. Now I am trying to include one additional support like displaying custom contents (like images, html elements and text) with in my component like in dialog component.

In ASP.NET MVC, I have received the inner

[2017-06-13 15:13] tom-englert commented on #17
Sorry, I don't understand what your problem is, and where it's related to ResXResourceManager.
Please improve the description.

[2017-06-13 15:18] tom-englert commented on #15
@vdurante any more input on this?

[2017-06-13 15:19] tom-englert commented on #14
@werddomain is this still reproducible?

[2017-06-13 15:35] vdurante commented on #15
Thank you for the response.

Yes, it would be a string detection. But since I am working with Asp.Net
Boilerplate, all strings follow the same pattern. Something like:

@L("MyString") for razor views
L("MyString") in controllers
abp.localization.localize("MyString") in JavaScript

I did succeed building a regex that identifies strings for counting inside
the manager. But I would like to do somethi

[2017-06-14 04:31] werddomain commented on #14
I did not try to reproduce it. But vs stopped responding many time after i have posted this issue.
The cpu dont seem to be buzzy, sice other program work correctly and fluidly.
If it can help you, i use 3 project with .net standard and one asp.net core project.
Ressources are in 2 project.
when the error ocur, it has stoped in the middle of the operation. I can redo the task 1 or 2 time and i can

[2017-06-14 07:07] tom-englert commented on #15
Having this as a global feature is too complex, especially generating a useful key from the string is challenging - and everyone would have different requirements.

If you already have a working regex, you can easily use the [scripting module](https://github.com/tom-englert/ResXResourceManager/releases/latest) and write a Power Shell script to do the task.

[2017-06-14 07:36] Shameer-Ali commented on #17
Hi Tom,
           Can you please, help me to resolve this issue. If you need more details please ask me about them.

[2017-06-14 08:19] tom-englert commented on #17
I already asked for more details - I don't understand at all what your issue is.

[2017-06-14 09:14] Shameer-Ali commented on #17
Hope, updated description will help you to understand my problem

[2017-06-14 09:19] tom-englert commented on #17
So where does ResXResourceManager come into play?

[2017-06-14 10:08] Shameer-Ali commented on #17
I posted my query wrongly in your repository. That question is for ASP.NET Core

[2017-06-14 10:09] #17 closed

[2017-06-16 16:09] chvogel opened #18 "Suggestion: Secondary languages as nested entries (DependentUpon)"
Hi

First of all, thanks for creating an awesome extension for managing translations!
I keep wondering why there are so few good localization tools out there and even the good ones usually lack one feature or the other. However, with your extension, I am very happy so far.

There is one (hopefully small) feature request I have:
Would it be possible to create/update secondary .resx files with the `

[2017-06-17 09:25] #15 closed

[2017-06-17 09:27] tom-englert commented on #18
Wouldn't this be rather a task for https://github.com/madskristensen/FileNesting?
Maybe this can be already done with the right naming convention?

[2017-06-17 09:39] tom-englert commented on #14
I could not reproduce this. I added an asp.net core project to an existing solution, and it worked fine.
Can you post a solution where this is reproducible?

[2017-06-18 22:38] chvogel commented on #18
I checked out the FileNesting extension you mentioned and while it offers a nice UI to manually change nesting, there's absolutely no documentation about how automatic nesting is supposed to work and how to define rules for automatic nesting.

As for the "correct" folder layout: As so often, there's probably five different opinions if you ask five different devs.
Personally, I strongly favor file/

[2017-06-20 13:16] tom-englert commented on #18
I never said this is not "correct", just pointed out that there are other solutions that work out of the box :smirk:

It looks like a cool feature, so if you think it's worth the effort maybe you can provide a PR for it? However I had a look at the source of https://github.com/madskristensen/FileNesting, and it looks it would be much easier to add the feature there.

[2017-06-21 06:13] tom-englert commented on #18
@chvogel you can vote for that feature request in the FileNesting project to push it...

[2017-06-21 14:02] YuriAbele opened #19 "Calculate ALL usages of resource"
Please implement calculation of ALL references in code.
Not only for:
[code]

but also for these references:

(Key name is on other code-line)
[code]
Usage in attrubutes, for example:
[code]

[2017-06-22 17:46] tom-englert commented on #18
@chvogel you can try the CI build of FileNesting with the new feature at https://ci.appveyor.com/project/madskristensen/filenesting/build/1.0.76

[2017-06-22 17:48] tom-englert commented on #18
Solved by https://github.com/madskristensen/FileNesting

[2017-06-22 17:48] #18 closed

[2017-06-23 09:10] Solethia opened #20 "Crashes often when opening the manager"
When we open the manger is often crashes VS2017. This also happens when we search with the checkmark on. We have one solution with several thousand keys, in around one hundred different resource files with four languages(for now). It would be nice with a setting that set it to default not have the 'search checkmark' checked when opening the manager.

[2017-06-23 10:10] Solethia opened #21 "When opening ResXManager for specific resx it loads all Keys"
~~When right clicking a .resx file it opens the manager and loads all keys, then filter to the specific .resx scope afterwards. This takes considerable time when your solution has around 15.000 keys. Wouldn't it be more efficient to defer loading of all keys untill you search?~~

Edit:
What I am suggesting is that if you open the ResXmanger from the right click context menu of a ResX file, it does

[2017-06-23 14:49] tom-englert commented on #20
If VS crashes, it would be great to have a crash dump and a description of the kind of crash (just not responding, dr. Watson, just closing?) and then send this to MS.

I assume with 'search checkmark' you are referring to the selection of all resource files in the left hand list box. That does not make a real difference, since the data grid is virtualizing, so the performance factor is just the s

[2017-06-23 14:52] tom-englert commented on #21
What exactly do you mean with search? Search for a term in the data grid?

[2017-06-23 14:58] tom-englert commented on #20
P.S. Can you select "Show performance tracer messages in output window" and see where it spends the most time?

[2017-06-27 14:27] tom-englert commented on #20
@Solethia any chance to get the performance tracer messages?

[2017-06-27 14:31] tom-englert commented on #19
That's hardly possible. The current algorithm is very simple, fast, and language agnostic. You would need a Roslyn analyzer to solve the above...

[2017-06-27 15:37] YuriAbele commented on #19
Ok, possible the second case is difficult, but first should be simple:

[code]

[2017-06-27 15:38] YuriAbele commented on #19
Scrrenshot from Regulator:
![resource_regex_pattern](https://user-images.githubusercontent.com/27284184/27596254-52db3a9e-5b5f-11e7-8635-4153d2b05a99.PNG)

[2017-06-27 22:32] Solethia commented on #20
I'll see if I can get it done by tomorrow.

[2017-06-28 06:53] tom-englert commented on #19
It's not the problem writing the regex - the algorithm currently just scans line per line, and only lines that contain the key - see [here](../blob/master/ResXManager.Model/CodeReferenceTracker.cs#L333).

Maybe you can try including some look-ahead/behind region to the buffer - but only if these lines do not contain the key again to avoid counting the previous match twice...

[2017-06-28 15:06] YuriAbele commented on #19
The Attribute-References can VisualStudio also not find

[2017-06-28 15:08] tom-englert commented on #19
It won't find anything that spans more than one line, see my last comment above.

[2017-06-29 13:44] Solethia commented on #20
Heres a trace of me adding a new key and populating it.

DTE event: Solution opened

<<< 2: Enumerate source files 00:00:01.7514745
<<< 1: ResourceManager.Load 00:00:03.1540429

<<< 3: Enumerate source files 00:00:01.5966666
ResX Resource Manager loaded.
Home: https://github.com/tom-englert/ResXResourceManager
Report issues: https://github.com/tom-englert/ResXResourceManager/issues
Support the pro

[2017-06-29 14:01] Solethia commented on #21
I've edited the issue to better reflect the issue, since it was not very well formulated.

[2017-07-06 22:31] KonstantinRyazantsev opened #22 "Feature request: resource key sorting"
Lovely extension, but it absent very useful feature - automatic resource key sorting on save. Sorted resx files much easier to merge when multiple developers changed same resx.

It would be very nice to see all good resx tools in one extension. What authors think about it?

[2017-07-07 12:48] tom-englert commented on #22
It's already there. You can enable this feature in the configuration tab.

[2017-07-07 12:48] #22 closed

[2017-07-07 12:50] tom-englert commented on #21
And how would you then get access to the other keys?

[2017-07-07 13:08] tom-englert commented on #20
- I wonder why there are so many load events - do you open the resources in other editors, too?
- Taking one minute to populate the grid is quite unusual - are you low on memory, so that the system starts swapping?
- Can you try to open the solution with the standalone version - does it have the same performance issues?

[2017-07-09 17:21] tom-englert opened #23 "Switch to translation view takes minutes for large projects"
With a large project with many languages and many untranslated strings switching to the translation view blocks VS for minutes.

[2017-07-09 17:22] #23 closed

[2017-07-12 12:36] miltoncamara opened #24 "Error on Paste from Excel"
Hello, I'm trying to paste the excel data but I'm getting the following error:

Error parsing the data from clipboard: The data you're pasting isn't the same size as your selection.

Is there any format so I can copy and paste?

Tks

[2017-07-13 08:40] Solethia commented on #20
@tom-englert Sorry for the delay.

In this instance I only had _one_ ResX Resource Manager window open and a few .cs files (2-5). I've never used more than one window.

Heres some memory information:
![image](https://user-images.githubusercontent.com/5747583/28157119-c1a64b8c-67b5-11e7-9ae4-9cf18bd90743.png)

The standalone version is a lot faster. Here is a trace of me adding a key and populating

[2017-07-13 09:19] Solethia commented on #21
I would have "Tools -> Open Resx Manager" always open with all keys.

# Option 1
Create it so you can activate it in configuration with a bool: 'Only load keys for .resx file in right click context menu'. Then you'd have close the resx manager and open it from Tools -> Open ResX Manager to get all keys explicitly.

# Option 2
Make an extra right click option:
Right Click (.resx) context menu -> Op

[2017-07-13 11:00] trikego opened #25 "Generated files wrong format dotnetcore"
Hi,

When I try to add a language in the resourcemanager the generated file has a wrong name.
let's say I have a folder Resource/Views/User
And it contains a resource file Index.nl.resx
If I add a language (eg. english) the generated file is: Index.nl.en.resx (and not Index.en.resx)

[2017-07-13 15:23] tom-englert commented on #25
Seems you are missing the neutral resource - there should be an Index.resx as well.
In your scenario ResXManager assumes that Index.nl.resx is the neutral file, and Index.nl is the base name.

[2017-07-13 17:54] tom-englert commented on #20
I see, not saving changes on edit immediately is the reason for the DocumentOpen events.

Since both standalone and VS extension share exactly the same code base for the views, I have no idea why populating the view in VS takes so much longer. I never experienced this.

[2017-07-13 18:18] tom-englert commented on #21
Maybe this can solve your problem:

- Start VS
- Open ResXManager
- Uncheck the "select all" check box on the top left
- Open the solution

Now the grid should be empty after loading the solution, and you can select one specific file with a right click on the .resx in the solution explorer.

[2017-07-14 07:16] trikego commented on #25
I followed the documentation from aspnet core:

If you create a resource file in Visual Studio without a culture in the file name (for example, Welcome.resx), Visual Studio will create a C# class with a property for each string. That's usually not what you want with ASP.NET Core; you typically don't have a default .resx resource file
[https://docs.microsoft.com/en-us/aspnet/core/fundamentals/local

[2017-07-14 07:16] #25 closed

[2017-07-14 07:40] tom-englert commented on #25
You can remove the custom build step from the default resx file to omit the generation of the C# class.

[2017-07-14 14:09] MarianXXL opened #26 "Imports .zh-CN into .ar-IQ"
I've tried to import an Excel file with 49 Languages. The last two columns are .ar-IQ (empty) and .zh-IQ. The tool imports the .zh-IQ column into .ar-IQ and .zh-CN  resx file.   :-(

[2017-07-14 14:12] MarianXXL commented on #26
I've tried to import an Excel file with 49 Languages. The last two columns are .ar-IQ (empty) and .zh-IQ. The tool imports the .zh-CN column into .ar-IQ and .zh-CN resx file. :-(

Sorry - the first description  was wrong

[2017-07-16 15:37] tom-englert commented on #26
Sorry, I don't understand either of them, can you please add some more details? It would be very helpful to attach an Excel file that can reproduce the problem and some screenshots that show what happens.

P.S.: you can modify or delete your comments if you did wrong.

[2017-07-16 16:58] tom-englert commented on #24
I have improved the [wiki page](../wiki/Copy,-Paste,-Export-and-Import), maybe that helps resolving your issue.

[2017-07-16 17:08] tom-englert commented on #21
@Solethia Can you try the latest version, it now remembers if "select all" was active, and avoids some round trips when opening one resource from the solution explorers context menu.

[2017-07-17 05:43] MarianXXL commented on #26
[iCatcher_WEEDSCOUT_Translations.xlsx](https://github.com/tom-englert/ResXResourceManager/files/1151683/iCatcher_WEEDSCOUT_Translations.xlsx)

[2017-07-17 05:45] MarianXXL commented on #26
Hi Tom,
I have in the project all resx file in the Project. Than I try to update them with the Excel file. All works fine, apart from the last two columns. The tool includes the last column .zh-CN into .ar-IQ resx file.

[2017-07-17 11:39] #26 closed

[2017-07-17 11:44] tom-englert commented on #26
@MarianXXL with your sample .xlsx it was straight forward to reproduce.
The CI build version on http://vsixgallery.com/ already has the fix.

[2017-07-18 17:18] vishnu4 opened #27 "Error on opening visual studio add in"
Used this project for ages, worked fine.  Now after latest visual studio update i'm getting an error when i start it up.  I see the following error below:

ResX Resource Manager loaded.
Home: https://github.com/tom-englert/ResXResourceManager
Report issues: https://github.com/tom-englert/ResXResourceManager/issues
Support the project by adding a short review: https://marketplace.visualstudio.com/i

[2017-07-18 17:31] tom-englert commented on #27
I can't reproduce this, can you try uninstall and reinstall again?

[2017-07-18 17:34] tom-englert commented on #24
@miltoncamara did that solve your problem?

[2017-07-18 17:50] vishnu4 commented on #27
Yeah, still the same issue.  When the resx manager window pops up, the MAIN tab is just blank, doesn't show anything inside there.  The other 3 tabs all seem to exist and work properly though, oddly enough.  I can use the autotranslate page for example

[2017-07-18 19:23] miltoncamara commented on #24
No! :( When I try to COPY and PASTE I receive the error above!

[2017-07-19 11:37] tom-englert commented on #24
What mode are you using? What do you have selected in Excel, and what do you have selected in ResxManager?

[2017-07-19 11:47] tom-englert commented on #27
After uninstall, did you verify that the extension is really gone? Sometimes the Vsix-installer fails to completely remove the older versions.  (see e.g. http://resxresourcemanager.codeplex.com/workitem/4730)

If you install the previous version, does this fix the problem?

[2017-07-19 12:57] vishnu4 commented on #27
Uninstall truly uninstalls, i don't see anything of the program after i uninstall (I've done it twice again to be sure).  I installed V1.2, which still has the same problem, which makes me think it's my data/files?  How would i go about debugging a bad resx file that might cause this?

[2017-07-19 13:08] tom-englert commented on #27
Try to open the ResXManager window without having a solution open directly after starting VS - if that does not work either, it's not caused by bad resx file.

It rather looks like some problem with Microsoft.Expression.Interactions.dll/System.Windows.Interactivity.dll.
Can you debug your VS with another instance of VS, and see if these assemblies are loaded from the same folder as the ResXManager

[2017-07-19 21:28] vishnu4 commented on #27
Yeah, you're right.  still comes up even if i don't have a solution open.  Sorry, i'm not very familiar with debugging extensions.  I tried attaching to the devenv.exe and setting my exception settings to break on every exception, but it didn't catch anything.
Is there a cache folder i could possibly try clearing out?

[2017-07-20 17:39] tom-englert commented on #27
Can you check if all those assemblies are loaded from the same folder? (attach to devenv.exe, select Debug=>Windows=>Modules)
![image](https://user-images.githubusercontent.com/10229954/28431031-0c8db1ee-6d83-11e7-9d73-1d2b187cf3d5.png)

[2017-07-20 18:35] vishnu4 commented on #27
see attached images.  looks like expression comes from the GAC, and there are 2 versions of Interactivity  one from the GAC and one from your extension.

![a](https://user-images.githubusercontent.com/1782150/28433087-53ac917e-6d3f-11e7-82f3-811433127ca9.PNG)
![b](https://user-images.githubusercontent.com/1782150/28433088-53b0a160-6d3f-11e7-81a9-49b34814a4ca.PNG)

[2017-07-21 07:22] joeyphant opened #28 "Feature Request: Log Warnings to the Error List window and/or Output window of VisualStudio"
Would be great if warnings and errors (missing translations, string format mismatches, etc.) could be logged to the VisualStudio ErrorList Window and/or the Output Window.

I'm aware of the "show only lines with warnings and changes" feature but I would really like to see these warnings in the log.

ErrorListProvider might be the way to go: [https://msdn.microsoft.com/en-us/library/microsoft.visua

[2017-07-21 08:29] tom-englert commented on #28
Sounds like a cool feature.

When should it log the errors? Always if the window is open (like e.g. XAML designers), or only during build?

Can you provide a PR for this?

[2017-07-21 10:41] tom-englert commented on #27
Try to remove them from the GAC - they should not be needed there.

[2017-07-21 12:00] joeyphant commented on #28
I would log the errors when opening the solution (if this is possible), when saving the file(s) and during build.

I cannot provide a PR at the moment.

[2017-07-21 13:25] vishnu4 commented on #27
Thank you so much.  the problem with telerik test studio, i had just downloaded a trial for that.
http://www.telerik.com/teststudio .  I actually just uninstalled that and it cleared the issue right up.  Thanks again for spending so much time helping me out here.

[2017-07-21 13:25] #27 closed

[2017-07-21 13:31] tom-englert commented on #27
A good place to share your experience is here: https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager#review-details :smile:

[2017-07-22 14:47] tom-englert commented on #27
@vishnu4 I just tried to reproduce this, but it worked all fine - what version of the .Net framework do you have installed?

[2017-07-22 14:50] vishnu4 commented on #27
I have visual studio 2017 installed, so all the versions it comes with are there.  Plus the 4.6.2 and 4.7 targetting packs

[2017-07-24 07:38] tom-englert commented on #24
@miltoncamara looks like you have found out how it works.

[2017-07-24 07:38] #24 closed

[2017-07-24 13:18] miltoncamara commented on #24
Hello @tom-englert I'm sorry for the delay!

1 - I'm using the second mode, I'm copying all excel cells an then trying to paste in ResourceManager
2 - In excel I created same numbers of columns so ResourceManager.
3 - Is possible to copy all excel cells an then paste into Resource Manager?

Tk you so much

[2017-07-24 13:27] tom-englert commented on #24
Yes, as long as the selection on both sides is the same (like copy/paste inside excel)

[2017-07-24 13:28] miltoncamara commented on #24
@tom-englert I'll try again!

[2017-07-25 06:11] bigshawn1478 opened #29 "Visual Studio crash on apply Translate result"
IDE: Visual Studio 2015
ResXResourceManager version : 1.3.515

In translate tab, I want to apply the translate result to resource file.

In previous version, if resource file of target language isn't exist,  ResXResourceManager  will pop a dialog box asking that do I want to add the resource file to project or not.

But in version 1.3.515, Visual Studio crash on apply translate result to resource

[2017-07-25 14:53] #29 closed

[2017-07-25 16:11] Solethia commented on #21
The recent update fixes this issue.

[2017-07-25 16:11] #21 closed

[2017-07-25 16:12] Solethia commented on #20
The recent update fixed this issue.

[2017-07-25 16:12] #20 closed

[2017-08-14 11:56] tom-englert commented on #14
Closed as not reproducible, and no sample has been provided.

[2017-08-14 11:56] #14 closed

[2017-08-22 09:57] jochenbrandt opened #30 "Translate zh-Hans always traditionell"
I use the azure translation option in the ResX Resource Manager to translate from english to chinese simple (zh-Hans). The translated text of Azure is always traditional. Is there an option in the program which I have to set for it.

For example:

"Hilfe"
Traditional Chinese: 幫助
Simplified Chinese: 帮助

[2017-08-22 10:31] tom-englert commented on #30
That's what I got using the Azure translator:

![untitled](https://user-images.githubusercontent.com/10229954/29561378-7fbb29aa-8735-11e7-997b-ba7b327c5985.png)

MyMemory however returned the same string for both. I have no control over what the translators do. I send the text and the target language to Azure, and display the results...

[2017-08-22 11:17] TittiSkaria opened #31 "Manage Xamarin.Android and Xamarin.iOS Resource strings"
Is there any support coming in way to manage Xamarin.Android and Xamarin.iOS resource files?

[2017-08-23 18:07] digocesar opened #32 "Don't change solution file every time"
I had change my default language to portuguese and this information is saved into solution file, link this:
[code]
But every time I change a resource with resxmanager the VisualStudio changes the configuration position in solution file, like this:
[code]
It's possible to save this preference only when I was changed and avoid Visual Studio changes the solution file every time?

[2017-08-24 11:48] tom-englert commented on #30
@jochenbrandt maybe you had a wrong translation of the string anywhere else in the project? ResX Resource Manager will rank existing translations over online translations, and offer you the existing translation first.

[2017-08-24 12:02] tom-englert commented on #31
Looking at the file format, I think it will be hard to do for string-array and plurals.

[2017-08-24 12:12] tom-englert commented on #32
@digocesar are you sure this changes every time you change a resource?
Actually it changes every time you change the configuration, ore something else in the solution.
However I have no control about the order of the entries, this is handled by VisualStudio.
To avoid this you may change the global defaults, so it does not need to write the configuration into the solution.

[2017-08-24 12:12] #32 closed

[2017-08-24 12:41] jochenbrandt commented on #30
No, this is the first translation to chinese.

Von: tom-englert [mailto:notifications@github.com]
Gesendet: Donnerstag, 24. August 2017 13:48
An: tom-englert/ResXResourceManager
Cc: Brandt, Jochen / V-TCES1; Mention
Betreff: Re: [tom-englert/ResXResourceManager] Translate zh-Hans always traditionell (#30)

@jochenbrandt<https://github.com/jochenbrandt> maybe you had a wrong translation of the stri

[2017-08-24 13:18] tom-englert commented on #30
Sorry, then I can't do much about this - you would have to complain to the Azure Translator team.

[2017-08-24 13:18] #30 closed

[2017-08-24 19:11] digocesar commented on #32
I'm using Visual Studio 2013 Professional. It's just me that have this situation!?
If I open the project, open ResxManager, and change some resource, the solution file is changed.

[2017-08-25 17:59] tom-englert commented on #32
I never experienced this, and the feature is in since VS2010.
As long as you don't change any configuration value, ResXManager does not actively touch the solution.
Maybe there is some other plugin causing the solution to change?

[2017-08-27 17:12] JD-Robbs opened #33 "Feature: Optional TextWrapping"
A checkbox/toggleButton to optionally activate text wrapping for long one-liners would be a nice UX improvement.  Currently, while translating, I keep giving focus back to the neutral string to view it in the resizable preview panel at the top.

Amazing tool, keep up the great work!

[2017-09-02 20:24] JD-Robbs opened #34 "Feature: Individual @Invariant Declarations"
Take, for example, a language that has a number of sub-cultures with only few cases of different spellings:

#### Different:
- en: Color
- en-GB: Colour

#### Equivalent:
- en: House
- en-GB:

It would be great if there was an option to set something like `@Invariant` or `@MarkAsTranslated` for individual locales; essentially marking empty translations as translated (rather than having loads of em

[2017-09-05 11:17] Sokti opened #35 "Blank cell in excel is not imported"
Blank cell in excel-sheet is ignored while importing. So it is not possible to remove translated text in resources by excel import.

[2017-09-06 12:43] tom-englert commented on #35
Yes, that's intended, it merges the existing with the excel - otherwise you would erase everything that's not in the excel sheet, if it is not a full export.

[2017-09-06 13:30] Sokti commented on #35
I'm using an excel-sheet as leading source for the project translations. It would be nice to have a setting to change this behaviour. But if it's intendet to not override.. this issue can be closed.

Thanks for your reply and keep it up!

[2017-09-06 13:30] #35 closed

[2017-09-07 17:52] #34 closed

[2017-09-12 09:22] MauroMon opened #36 "Really slow on save"
Hi all.
After last update my visual studio 2015 became really slow on save, even if no change to file is made.
If i disable resx manager vs works fine.
Is there any way i can help?

Thank you

[2017-09-12 15:43] tom-englert commented on #36
What exactly is "on save" - saving any file?
And how do you save files without changes?

[2017-09-12 16:12] MauroMon commented on #36
every time i hit control + shift +s in visual studio

[2017-09-13 07:58] irenechan0208 opened #37 "Error in installing ResXResourceManager"
Hello HelpDesk,

I have encountered the below error when installing the ResX Resource Manager

https://github.com/tom-englert/ResXResourceManager

![error_resx](https://user-images.githubusercontent.com/31917437/30365994-30f99586-989c-11e7-8191-dfeb15e97590.PNG)

May i know how to solve it?

Thanks,
Irene

[2017-09-13 13:42] Yeah69 commented on #37
I get this error as well.

[2017-09-13 13:46] tom-englert commented on #37
Which version do you install? Standalone, Visual Studio Extension or Scripting?

[2017-09-13 14:00] Yeah69 commented on #37
Standalone/Click-Once

[2017-09-13 14:04] #37 closed

[2017-09-13 14:13] tom-englert commented on #37
OK, found it. Binaries are updated.

[2017-09-13 14:20] tom-englert commented on #36
I can't reproduce this, do you have any other hints?

[2017-09-13 14:22] Yeah69 commented on #37
Works again. Thank you a lot for the fast support.

[2017-09-14 05:43] Macy-Soft commented on #36
I work with VS2017. Since the last update, I also have such a problem. I'm adding a new key. The I click in a field to change, VS2017 hangs up. It seems to go into an endless loop. The memory consumption increases to infinity.

[2017-09-14 09:59] TeaDrivenDev commented on #36
We're seeing this too on all machines with 2017, both with 1.5.66 and 1.5.679. I went back to 1.4 for the time being.

[2017-09-14 14:20] GieltjE opened #39 "Sorting problems"
Using the 1.5 release with Visual Studio 15.3.4 within a C# 4.7 project the "When saving a RESX file, sort the XML data nodes by the key" Sort using: "OrdinalIgnoreCase" doesn't sort the RESX files after adding a new key.

Also "Sort all files now" crashes visual studio.

Another bug, pressing ctrl+s doesn't save any changes, clicking the save-all button does.

[2017-09-14 14:38] tom-englert commented on #36
Can someone try to debug this, to see where it is hanging?

[2017-09-14 17:43] #36 closed

[2017-09-14 17:44] tom-englert commented on #36
Please try the latest build from http://vsixgallery.com/

[2017-09-14 17:48] tom-englert commented on #39
Please try the latest build from http://vsixgallery.com/

ctr+s is handled by Visual Studio and saves the active document (you can see the active document in the File-Save menu) - but ResXManager is not a "document"

[2017-09-14 21:47] TeaDrivenDev commented on #36
Works for me. Thanks!

[2017-09-15 06:34] MauroMon commented on #36
For me don't work.
Here is the output on ctrl, shift, s hit:

DTE event: Document saved

<<< 13: Enumerate source files 00:00:00.3929649
<<< 12: ResourceManager.Load 00:00:02.1900611
DTE event: Document saved

<<< 15: Enumerate source files 00:00:00.3843774
<<< 14: ResourceManager.Load 00:00:02.4149141
DTE event: Document saved

<<< 17: Enumerate source files 00:00:00.4210786
<<< 16: ResourceManag

[2017-09-15 08:57] GieltjE commented on #39
That most definately fixes the sort all button 👍

However when I use the + button to add a new key to some resource files the key is still placed at the end of all files.

[2017-09-15 12:47] samuelmelo opened #40 "The resource isn't recognized"
I cannot open a resource, using Visual Studio. When I click to view a .resx on ResX Resource Manager it just simply don't open and I can't figure out what's going on.

[2017-09-16 15:17] tom-englert commented on #40
I there any information in the output window?

[2017-09-18 08:42] GieltjE commented on #39
The last bug still isn't fixed, or did I miss something?

[2017-09-18 09:05] tom-englert commented on #39
If you talk about "However when I use the + button to add a new key to some resource files the key is still placed at the end of all files.": I could not reproduce this, if sorting is checked in the options, it works fine.
Do you do anything special?

[2017-09-18 09:09] GieltjE commented on #39
Nothing really special, I select the group of translations the new key should be added to, press the + button, enter the values and press the save-all button.

If there is a way to help debug this please let me know as this affects all our developper machines (All VS21017 community edition with either Win10 or Win8 both X64)

[2017-09-18 14:05] samuelmelo commented on #40
Hey, thank you Tom. I just relized that were 3 or 4 duplicate keys.

[2017-09-20 14:42] tom-englert commented on #40
😄

[2017-09-20 14:42] #40 closed

[2017-09-24 18:06] tom-englert commented on #39
Yes, maybe you can try to debug this, you should set a break-point around here:
https://github.com/tom-englert/ResXResourceManager/blob/master/ResXManager.Model/ResourceLanguage.cs#L272

[2017-09-24 18:08] tom-englert commented on #39
@GieltjE Where do you click save - in the Visual Studio toolbar, or in the ResXManager toolbar?

[2017-09-24 19:25] GieltjE commented on #39
On the visual studio toolbar, debugging would have to wait a few days (but it will be done)

[2017-09-25 09:39] GieltjE commented on #39
After trying around a bit, these are the two main things I noticed:

1: Saving new/updated items from the visual studio save-all button adds to the bottom or updates the current location
2: Saving new/updated items from the built in save button properly sorts the items, but leaves untouched elements within the same item/translation (e.g. untouched languages) in the old position.

[2017-09-25 14:44] tom-englert commented on #39
I think I got the problem - saving via the VS toolbar does not trigger the sorting.

Until this is fixed you can use the save button in the ResXManager toolbar, or check "Save files immediately upon change".

However as the function implies, sorting only happens when saving, so unchanged files won't be saved. You can use the "Sort all files now" in the configuration tab to achieve this.

[2017-09-25 15:14] GieltjE commented on #39
Thanks for your help, looking forward to the new version (manually clicking the "Sort all files now" should suffice for the time being).

[2017-09-27 11:26] FreHu opened #42 "Unresponsiveness on large resources"
I have some large individual resources (e-mail templates, cca. 11k characters). ResX manager hangs completely when trying to open them and the only solution is killing visual studio. The same happens with the standalone version.

I can get it to at least export the resource (by never double clicking so I don't go into edit mode) so I can edit it in excel and import it back, but even this can take

[2017-09-27 16:03] rectorsquid opened #43 "Please add an undo or a commit button!"
The cat walks on the keyboard and I lose data. Or I make a mistake and type in the wrong row because the grid is super slow to scroll or respond to other display changes, and I lose data. This is a terrific program but the behind-the-scenes spreadsheet grid control is too slow and the lack of a commit button or undo option is making me really hate this thing.

Please consider adding a commit butto

[2017-09-27 16:10] #43 closed

[2017-09-27 19:07] tom-englert commented on #42
I have analyzed it and found the bottle neck, there will be a fix in the next days.

[2017-09-28 15:08] #39 closed

[2017-09-28 15:27] #42 closed

[2017-09-28 17:58] FreHu commented on #42
I will get a chance to test it next week, thanks!

[2017-09-29 09:18] tom-englert commented on #31
@TittiSkaria You could change code generation to TextTemplate and update the template to generate any additional file format you need.
Here you would manage your resources in .resx files, and VS would generate the Xamarin file on the fly.

[2017-10-05 08:31] Solethia opened #44 "System.Runtime.InteropServices.COMException at save"
Ran into this error today, while trying to save changes after adding a single resource key.

![image](https://user-images.githubusercontent.com/5747583/31217658-02452ef8-a9b8-11e7-9993-d7ca281b95e8.png)

Edit: It seems to have saved the changes, despite the error.

[2017-10-05 11:46] tom-englert commented on #44
This is not critical, you can ignore this. I will avoid this in the next version.

Is this reproducible, or just happend once?

[2017-10-05 11:47] tom-englert commented on #31
@TittiSkaria any chance to try this?

[2017-10-05 13:20] #44 closed

[2017-10-05 22:09] Solethia commented on #44
Happened twice. Stopped after a restart. Was as you said not critical so didn't use too much time testing.

[2017-10-10 15:12] malarres opened #45 "Cannnot see "Neutral" column anymore"
Hi,
I've been using the tool with no issues for a whole day. Then suddenly when I reopened my VS, I cannot see the "Neutral" language column anymore. I can open any other language and see both the translations and the comments.

[2017-10-11 05:01] malarres commented on #45
solved!
I had selected the option "Show an error message and don't load the resource" in the Configuration tab.

Then in the output I was seeing this error:

Error: System.InvalidOperationException: Duplicate keys in 'C:\my\path\to\Web.Sitemap.resx':
"Noticias.title",
(etc. etc.)

Given that the XXX.title and XXX.description always throw a warning

(from: https://msdn.microsoft.com/en-us/library/m

[2017-10-11 05:01] #45 closed

[2017-10-15 21:42] AlanWidmer opened #46 "Languages tab - some English variants impossible to see in Win10"
The `Languages` tab doesn't appear to have a way to scroll vertically. So some of the English language variants are not visible as they are off the bottom of the screen.
On my monitor, even with the app maximized, the last English variant I see is en-LS.
I tried scrolling using down arrow, page down, mouse scroll wheel.
If I reduce the size of the program window other languages with lots of cultur

[2017-10-17 12:07] tom-englert commented on #46
Hi Alan,

No, the languages tab wraps vertically and scrolls horizontally.
And I don’t have en-LS.

What size is your screen? I could only see some clipping if the window is <600px height.

BR
Tom

Von: Alan Widmer [mailto:notifications@github.com]
Gesendet: Sonntag, 15. Oktober 2017 23:43
An: tom-englert/ResXResourceManager <ResXResourceManager@noreply.github.com>
Cc: Subscribed <subscribed@norep

[2017-10-18 04:32] AlanWidmer commented on #46
My monitor resolution is 2560 x 1440
I am using Windows10 Build 16299.19 AKA Fall Creators Update 1709. I did not install additional language packs.

[2017-10-19 12:11] tom-englert commented on #46
I see, it's Win10 adding so many new languages.
If someone has an idea how to fix this with reasonable effort, help would be appreciated.

[2017-10-19 12:14] tom-englert commented on #31
@TittiSkaria, @jerone still interested in this, or shall I close it?

[2017-10-19 18:30] jerone commented on #31
Yes, I'm still interested.

I'm using Xamarin.Forms which supports resx-files, but there is still some text directly inside iOS & Android that can't be moved to XF.

[2017-10-20 06:34] Michael-Heimann opened #47 "ListViewItem.Text"
Is it possible to add ListViewItem.Text to the translatable resources? I know it's saved as a binary blob, but it would be really useful to my project.

[2017-10-20 08:26] codeweb opened #48 "Resource reference not found in MasterPage"
The resource "Atomi" has 0 references but it's presente in master page.

![1](https://user-images.githubusercontent.com/2588370/31811753-01019d40-b581-11e7-8272-5056fd5496a7.png)
![2](https://user-images.githubusercontent.com/2588370/31811754-012073dc-b581-11e7-89c1-5d43efd7f1b3.png)

[2017-10-20 08:47] codeweb commented on #48
Solution is adding .Master in Configuration. Together with aspx, ascx. Can you add it by default?
Thanks

[2017-10-20 10:39] codeweb opened #49 "Resources reference: only selected files"
Resources reference have to work only on selected files, not all files.

[2017-10-20 14:09] tom-englert commented on #49
@codeweb can you be more specific, please?

[2017-10-20 14:11] tom-englert commented on #48
![image](https://user-images.githubusercontent.com/10229954/31825093-5e860e9e-b5b1-11e7-82f2-b33d0c033bfa.png)

like this?

[2017-10-20 14:31] codeweb commented on #48
If it's case insensitive, yep!

[2017-10-20 14:36] codeweb commented on #49
The reference count is referred to all files, not only selected.
(In the image there is only one file; try using two files and select only one: references count won't change)

![2017-10-20_1633](https://user-images.githubusercontent.com/2588370/31826154-9455441a-b5b4-11e7-9a1d-47d30a7337f8.png)

[2017-10-20 15:26] tom-englert commented on #47
I have no clue how this could work...

[2017-10-20 15:36] #48 closed

[2017-10-21 06:26] #46 closed

[2017-10-21 07:33] tom-englert commented on #49
These are not related:
- On the left side you are selecting resource files (.resx).
- References are counted in all files except resource files.

[2017-10-21 07:33] #49 closed

[2017-10-21 10:43] tom-englert commented on #31
The basic idea is to have dedicated .resx files that contain the platform specific translations and can be easily edited with ResXManager.

Then change the code generator for these files to "TextTemplating":

![image](https://user-images.githubusercontent.com/10229954/31850973-06647afa-b65d-11e7-8c39-bbf0158336d7.png)

Now you can replace the default text template that generates the *designer.cs f

[2017-10-21 11:17] jerone commented on #31
And how does one create a custom template generator?

[2017-10-21 12:45] tom-englert commented on #31
ResXManager will add one by default if you switch to "Text template":

![image](https://user-images.githubusercontent.com/10229954/31851858-7f352216-b66e-11e7-834f-810563afde4b.png)

[2017-10-23 05:43] Michael-Heimann commented on #47
Probably with the  ListViewItem.Serialize(...) ListViewItem.Deserialize(...) methods?

[2017-10-23 06:44] tom-englert commented on #47
If you find a good solution that does not hinder the other features you could provide a PR.

[2017-10-26 14:14] paulem opened #51 "***.Designer.cs for .resx file doesn't update after .resx file modification"
I use version 1.8.767.

After adding a new key in .resx file through ResX Manager code-behind file regeneration doesn't occur. It happens only if I open .resx file and change Access Modifier setting.

[2017-10-26 15:06] nomba commented on #51
I have the same problem. (_VS 2017 Enterprise 15.4.1_)

[2017-10-26 17:21] studiounlimited commented on #51
For what it's worth: I'm also experiencing this (VS 2017 Enterprise 15.4.1)

[2017-10-27 07:04] vankhangfet commented on #51
I have the same problem (VS 2015 Professional ver 14.0.24720.00 Update1).

[2017-10-27 08:00] rama21385 commented on #51
Same problem VS Prof 2017 v15.4.1
or is it a problem with Win10 Creators which I updated last week and since then it doesn't do it?
Current workaround is to create the resource string with VS itself and then do all the translation using your tool.

[2017-10-27 09:32] niwred commented on #51
Same Problem here. VS Professional 2017 Professional 15.4.1

[2017-10-27 11:40] LiborSo commented on #51
Same problem. VS Community 2017 15.4.0
I need everytime to change modifier of the ResX file to "No code generation" then back to "Public".

[2017-10-27 14:48] #51 closed

[2017-11-03 11:35] McOldSchool opened #52 "'Clean-up'"
Working with ResXResourceManager is saving a lot of time. Unfortunately the development progress is fast and once used values are gone in the next version from the main .resx-file leading to not used translation in other language .resx-file remain.

So I'm wondering if it is possible to add some kind of 'clean-up' function to this awesome tool, removing entries from translated resx-files if the co

[2017-11-03 14:16] MisterJimson opened #53 "VS for Mac Support"
Just as title says. Would be great to have this extension on VS for Mac.

[2017-11-04 08:07] tom-englert commented on #53
Someone buy me a MAC 😏

[2017-11-04 08:10] tom-englert commented on #52
Just sort by the neutral language column, then all empty entries will be on top, so you can just mark and delete them.

[2017-11-04 10:46] McOldSchool commented on #52
Thanks for the reply, but I was already aware of this possibility. The issue with it is, that VB and the used devex are also creating empty entries. If I'm going to delete those, the program will crash, 'couse it can't finde the more or less "null" strings :( . May you have an other idea?

[2017-11-04 18:18] tom-englert commented on #52
So how would you distinguish entries that you can remove from entries that you can't?

[2017-11-06 13:22] arteny opened #54 "Feature request: add default neutral language value"
Could you add default neutral language value same as key?
For instance for key "FeatureRequest" it can be "Feature request".
I think it should be very useful. Thanks.

[2017-11-07 10:59] tom-englert commented on #54
You can type "Feature request" in the code and use Move To Resource, that will generate the key ...FeatureRequest.

[2017-11-07 11:04] tom-englert commented on #47
I think this request is out of scope, ResXManager can't control how resources are generated from code.

[2017-11-07 11:04] #47 closed

[2017-11-07 11:05] tom-englert commented on #31
@jerone any success with this? This could be interesting for others, too.

[2017-11-07 11:50] jerone commented on #31
[**@tom-englert**](https://github.com/tom-englert) commented on [Nov 7, 2017, 12:05 PM GMT+1](https://github.com/tom-englert/ResXResourceManager/issues/31#issuecomment-342449536 "2017-11-07T11:05:57Z - Replied by Github Reply Comments"):

No not yet, but this issue is actually on the planning for next month. I'll report back with my findings.

[2017-11-07 11:53] jerone commented on #53
https://www.macincloud.com/pages/visual-studio-mac.html 👍

[2017-11-08 10:05] Madghost5 commented on #19
Doesn't count resources with dots like this - "frm_ACC_Base.MsgIssued"
My resources have dots in every key. I need help!
I tried to add multiple regex's on Configuration page - **Detect Code References**, and I couldn't solve the problem, do you know how to solve it?

[2017-11-08 12:02] tom-englert commented on #19
@Madghost5
This is because of some speed optimization:
https://github.com/tom-englert/ResXResourceManager/blob/master/ResXManager.Model/CodeReferenceTracker.cs#L265
The line is split into whole words, then the words are compared with the keys. This assumes that keys are words, without any punctuation.

Anyhow, the key in your sample looks like some part of WinForms localization - those are used im

[2017-11-08 12:35] tom-englert commented on #53
It would be a surprise to me if WPF is supported on the Mac...

[2017-11-08 13:03] jerone commented on #53
[**@tom-englert**](https://github.com/tom-englert) commented on [Nov 8, 2017, 1:35 PM GMT+1](https://github.com/tom-englert/ResXResourceManager/issues/53#issuecomment-342804827 "2017-11-08T12:35:31Z - Replied by Github Reply Comments"):

According to the [documentation](https://www.visualstudio.com/en-us/productinfo/vs2017-compatibility-mac) not:

[2017-11-08 13:04] MisterJimson commented on #53
WPF and others are not, but many other project types can use resx files.

[2017-11-08 13:08] tom-englert commented on #53
All the ResXManager GUI is implemented in WPF, someone who wants to port this will have to write a new GUI :disappointed:

[2017-11-09 08:17] knutt opened #55 ""Neutral" column header not reflecting langusge setting"
The VS add-in does not reflect the neutral language selected in the header of the "Neutral" column.

In the AssemblyInfo.cs file, you can set the neutral language for an assembly:
`[assembly: NeutralResourcesLanguage("nn-NO")]`

However, no matter how this is set, an American flag is flying over the column. This is misleading. Either the flag of the neutral culture should be used, or the flag shou

[2017-11-09 11:14] tom-englert commented on #55
Unfortunately assembly attributes are not available in .resx files, and ResXManager can't not compile your source code to detect this...

If you derive from the standard "en-US", you have to change the default in the configuration page of ResXManager.

[2017-11-09 11:14] #55 closed

[2017-11-09 11:17] tom-englert commented on #52
@McOldSchool did you find a reliable criteria to detect the entries that can be removed?

[2017-11-10 13:55] McOldSchool commented on #52
Ah sorry wasn't around for a bit. Yea for my understanding the neutral language is kept up-to-date from MS so if translatable values getting change they are removed from the 'main'-resx file but not from the translated one.
So it should be possible to check the translatable-values from the translated files against the 'main' one and if the value dosn't exist anymore, delete it.
This would also wor

[2017-11-10 15:52] tom-englert commented on #52
A simple out-of-the-box solution would be to switch to cell selection and delete all cells right to the neutral language where there is no entry in the neutral language.
This will not touch the neutral language...

[2017-11-11 13:35] McOldSchool commented on #52
Ahh. Sometimes it's just easier than expected.
I'd be fine if you want to close it. (As long as there is no inspiration for any other feature in it :D )

Keep up the good work! And cheers!

[2017-11-11 13:49] tom-englert commented on #52
😄

[2017-11-11 13:49] #52 closed

[2017-11-13 11:00] Llarian opened #56 "Feature Request: Configurable validation"
Could you add a validation that, like the validation of string format parameters, checks the usage of characters like pipes or other configurable character(s)?

[2017-11-13 13:57] tom-englert commented on #56
How could we check the usage of pipes?

[2017-11-24 09:27] tom-englert commented on #56
@Llarian any feedback what exactly you mean with this?

[2017-11-24 10:12] Llarian commented on #56
Currently there is a validation regarding the usage of string format parameters: you get a warning if the number of parameters used differs from one language to another. I'd also liked a warning for the usage of pipes: When used in a FileopenDialog in the filter string to seperate the values, .NET will throw an exeption, in case the pipe is missing. Our translators do not all know the importance o

[2017-11-26 17:15] tom-englert commented on #56
Unlike common string format parameters, this is a very special use case.
I would rather recommend not including the pipes in the resources at all, but only the translatable part(s).

[2017-11-28 12:28] Tdue21 opened #57 "Crashes VS2017 when opening Documentation"
Whenever I try to open the Documentation (i.e. the link to the wiki), VS2017 freezes and then crashes.

My VS installation looks like this:

Microsoft Visual Studio Professional 2017
Version 15.4.5
VisualStudio.15.Release/15.4.5+27004.2010
Microsoft .NET Framework
Version 4.7.02046

Installed Version: Professional

Visual Basic 2017   00369-60000-00001-AA570
Microsoft Visual Basic 2017

Visual C#

[2017-11-28 12:30] Tdue21 commented on #57
The standalone application does not have this problem.

[2017-11-28 13:55] sondergard opened #58 "Long solution load times"
We have a solution with a whopping 38 projects. Whenever ResXManager is enabled the solution load time is significantly decreased (2:30 vs 1:47 when disabled).

I suspect it is caused by this event being written an enormous amount of times to the ResXManager console output:
DTE event: Solution content changed

For our solution it is written around 290 times during solution load. Any way to disable

[2017-12-03 10:17] #57 closed

[2017-12-03 10:32] #58 closed

[2017-12-08 07:48] niwred opened #60 "Feature Request: Support for multiple screens"
When working with multiple screens, I find it somewhat annoying that the dialog for a new key always opens centered on visual studio main window, even if the resx manager tool window is on another screen than the visual studio main window.

[2017-12-14 10:34] sabvente opened #61 "Feature Request: Support Quick search in Main tab"
Ctrl-F quick search function would be really great!

The current filter feature needs too much action to find single word (find button, click). Also I need to reset it after, and wait for it to load again. It is also limited to a single column.

Thanks!

[2017-12-20 08:31] jamesmcroft opened #62 "VS2017 Update 5 causing ResXResourceManager window to not load"
After recently updating to the latest VS 2017 update, ResX Manager has stopped loading in the resources from the files in my projects.

Some files are loaded and appear in the left-hand sidebar but when clicking on them to view the resources, the keys are shown in a column but has an un-headered column next to it with nothing in.

[2017-12-20 13:56] tom-englert commented on #62
Maybe you are using lazy solution loading? RXRM can only show items of loaded projects.

[2017-12-29 15:50] tom-englert commented on #62
@jamesmcroft any more details on this?

[2017-12-29 20:29] jamesmcroft commented on #62
@tom-englert apologies for not getting back in touch sooner.

The project is not lazy loaded. I haven't checked for output error messages but can do that.

I'm currently away from my office PC but will be returning on the 2nd January so can confirm then.

[2018-01-01 10:52] UweKeim opened #64 "Add more RegEx options to the "Detect Code References""
For the "Detect Code References" list of Regular Expressions, I'm looking for other RegEx options.

Several of  the string occurrances in my code span multiple lines like:

    Resources.
        My_Very_Long_Resource_Name

Therefore, I'm looking for more than just the "Case Sensitivity" options.

Maybe you could add another text column to enter Perl-style RX flags.

I.e. one or multiple of:

- `i

[2018-01-02 07:09] tom-englert commented on #64
It's not a matter of the regular expression (https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-options), but the file parser.
If s.o. can provide a solution that is fast, language agnostic *and* can support multiple lines, I'll be happy to integrate it.

[2018-01-02 07:10] tom-englert commented on #64
Duplicate of #19

[2018-01-02 07:52] UweKeim commented on #64
Thanks, @tom-englert and sorry for not doing a better search before posting here 😞.

Personally, I don't care about speed for this feature, so I'm happy with a slow solution, too (maybe warn the users that this is slow, so they don't complain).

[2018-01-02 07:52] #64 closed

[2018-01-02 21:13] halllo commented on #62
When I click on `Tools/ResX Manager` nothing happens. When I `Ctrl+Tab`, I see that it is there as an Active Tool Window but when I navigate to it, nothing is visible and I dont see that window anywhere. `Reset Window Layout` also did not help. I am using Visual Studio Community 2017 Version 15.5.2.

The output looks good:
[code]

[2018-01-03 06:39] tmslammi opened #65 "Opening an exported excel file"
Hi,

Should it be possible to open an exported excel file in the desktop application? I used the VS plugin to export my .resx files to excel format, and after that tried to import that file using the desktop application. Nothing is shown, and no errors / warnings are produced in the output window. Should this be supported? I can't really find anything about it in the documentation.

[2018-01-03 14:26] tom-englert commented on #65
Yes, that works fine. However you won't see anything unless you modify the Excel file before importing.

[2018-01-03 14:52] tom-englert commented on #62
Just updated my VS and everything still works fine. There are no special prerequisites needed.

Maybe checkout this: https://github.com/remcoros/DuplicateExtensionFinder, updating extensions sometimes leaves duplicates behind that confuse VS.

[2018-01-04 12:24] halllo commented on #62
The Window appeared off screen. I see it now and all is good.

[2018-01-04 13:39] jamesmcroft commented on #62
I think this can be closed off @tom-englert. The latest, latest version of VS2017 15.5.2 seems to be working fine. Must have been an issue with my setup.

[2018-01-05 10:12] tmslammi commented on #65
Hi,
Would it be possible to load the file even without doing modification for it beforehand :)?

[2018-01-05 12:05] tom-englert commented on #65
Well, it is, that's what you already tried - if you import no changes, nothing will be changed, and you will see nothing change, it's the same as doing nothing at all.

[2018-01-05 12:09] #62 closed

[2018-01-05 12:57] tmslammi commented on #65
Sorry If I am misunderstanding the usage of this tool, but I'm having trouble to get this to work for my use case which is:
1. Load all the .resx files using VS and export the excel file

2. Send this excel file to a translator, who would either edit it excel (this works fine) OR using the desktop application you provide

3. Using the desktop application to import the excel and do the translation

[2018-01-05 13:02] tom-englert commented on #65
You can't open an excel file, you only can import it into an existing structure.
ResXManager standalone can only open a folder containing a solution. However you will need only the .resx and the .??proj file, not the full source code.

[2018-01-05 13:04] tmslammi commented on #65
Okay, thanks for the quick responses and the information :)

[2018-01-05 13:06] #65 closed

[2018-01-06 15:00] xan2622 opened #66 "Spelling & Grammar checker"
Hello.

I think that your translation software (which is really useful, btw) miss a major feature : a word spelling & grammar checker. I am surprised nobody has already suggested it before.

Currently, in order to create perfect translation, I guess that the ResX Resource Manager user has to regularly use https://translate.google.com.

Maybe you could integrate LanguageTool into you app? Or make a

[2018-01-08 08:11] tom-englert commented on #66
Hi @xan2622, it already does spell checking, where do you miss it? Also the major translation services are integrated. Do you need more?

P.S.
To create a **perfect** translation, do **not** use machine translations like google 😏 (https://www.codeproject.com/Articles/222389/Beyond-Localization-Software-for-a-Global-Audience)

[2018-01-09 20:36] xan2622 commented on #61
I totally agree. We need a real search system.

[2018-01-09 21:06] xan2622 commented on #66
Spell checking yes but not grammar.

btw, I know Google is bad for translations but it gives (for some unknown terms) a hint about the meaning.

[2018-01-10 08:12] tom-englert commented on #66
Spell checking is enabled here:
https://github.com/tom-englert/ResXResourceManager/blob/master/ResXManager.View/Tools/ExtensionMethods.cs#L47

Maybe you can provide a PR to integrate grammar checking.

[2018-01-10 10:47] phancey opened #67 "How do you filter column for not blank?"
Trying to filter non-blanks and also filter across 2 columns ie Neutral not blank OR Chinese not blank.

Thanks
PS (not sure how to add the help wanted tag)

[2018-01-12 05:45] xan2622 opened #68 "Horizontal scrollbar"
Could you please add a horizontal scrollbar?
It would be useful when there are many resource files loaded from a folder.

I think a horizontal scrollbar is needed especially because when the user changes dimensions of the window, columns' widths are modified on the fly...    :-/

![screenshot001](https://user-images.githubusercontent.com/1732773/34861255-dee2d10a-f763-11e7-8ccc-47dd8c084197.png)

[2018-01-12 10:56] francescoformenti opened #69 "CR LF issue with excel import/export"
Hi,
I have many resources with multi line text in it and I noticed that when I export to excel, in the destination excel file there is (probably) only LF (0A) character.
I add the translation, that uses both CR and LF (0D0A), then when importing back to ResX Resource Manager, in the text, at every end-of-line, there is the additional text "_x000D_", which I have to manually remove.

Thank you very

[2018-01-13 06:32] tom-englert commented on #68
It will appear automatically as soon as you exceed the columns beyond the right edge

[2018-01-13 06:32] #68 closed

[2018-01-13 06:35] tom-englert commented on #69
Can you post a sample?

[2018-01-13 06:36] #56 closed

[2018-01-13 06:37] #54 closed

[2018-01-13 07:16] #60 closed

[2018-01-13 11:25] #33 closed

[2018-01-13 11:30] tom-englert commented on #33
@yinyue200 can you please add the Chinese translation for the new tool tip?

[2018-01-13 12:36] yinyue200 commented on #33
@tom-englert ok

[2018-01-14 17:29] #28 closed

[2018-01-14 17:30] tom-englert commented on #28
@yinyue200 some more new strings to translate...

[2018-01-15 10:01] francescoformenti commented on #69
Hi Tom,
I attach the original language resx file (Test.resx in italian), the excel file (Test.xlsx) and the resulting Test.en.res file

[Test.zip](https://github.com/tom-englert/ResXResourceManager/files/1631196/Test.zip)

My operative steps are the following:
1. Select the lines to export in ResX Resource Manager
1. Click 'Excel' button, then 'Export selection'
1. Open the excel file and select a

[2018-01-19 09:06] DRESAAN opened #72 "Empty main view"
My main view is empty. Every other Tab is working. I get the following exception during start:

Webseite: https://github.com/tom-englert/ResXResourceManager
Fehler melden:  https://github.com/tom-englert/ResXResourceManager/issues
Projekt unterstützen: Schreiben sie ein kurzes Review auf https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager#review-details
Fehler: System.Window

[2018-01-21 10:59] tom-englert commented on #72
Looks like there is some incompatible version of "Microsoft.Expression.Interactivity" loaded.

[2018-01-24 06:24] ArunaG1 opened #73 "Resource files from the project not loaded. #helpwanted"
Hi Tom

I have run the project solution and got the below output

![image](https://user-images.githubusercontent.com/30783149/35317538-39cdfffc-00fd-11e8-8170-44fa6abf6480.png)
#help  @wanted

On load will it load the resource files from the project? or we have to select the path of the resource files from the project?

Thanks

[2018-01-24 07:36] tom-englert commented on #73
If you use the standalone version, you have to select the directory where the solution is - click on the directory menu to select it.

If you use Visual Studio Extension from within Visual Studio, the resources of the active solution are automatically loaded.

[2018-01-24 07:36] #73 closed

[2018-01-24 18:42] rbrinson opened #74 "PowerShell Script Error "Add-Type : Could not load file or assembly""
I am trying to get the basic Sample.ps1 script working, but I am running into errors immediately in the script. The error is:

Obviously, all of the DLLs from the Scripting.zip file exist in the same folder as was referenced above. Because PowerShell fails to load the ResXManager.Scripting.dll, it fails to create the new object of type ResXManager.Scripting.Host. I have tried running the script as

[2018-01-26 09:50] DRESAAN commented on #72
I checked my fusion log. There is no assembly with the name Microsoft.Expression.Interactivity but one with the name Microsoft.Expression.Interactions. But this is binded without any problems and only in one version.

But two versions of System.Windows.Interactivity get binded. The other one is only loaded from the resharper installation path.

[2018-01-29 07:59] tom-englert commented on #72
Does temporary disabling R# fix it?

[2018-01-29 08:39] DRESAAN commented on #72
I deactivated all Extensions which did not come from Microsoft and it still doesn't work.

[2018-01-29 09:48] iant-travelopia opened #75 "Odd indenting of comment tags"
When adding a new comment in resx manager, the comment tag in the XML is placed on the next line, but only indented as far as the wrapping data tag. The closing data tag is then placed on the same line.

When re-saving the file in visual studio's resx editor, it gets reformatted so that the comment tag gets its own line and is indented inside the data tag (following normal XML conventions).

[2018-01-29 13:56] tom-englert commented on #74
All the scripting binaries from the .zip must be in the same folder. There is no other dependency.

You might have to unblock the files if you have extracted the zip with windows explorer.

[2018-01-29 14:12] tom-englert commented on #72
So now there is only one System.Windows.Interactivity, and this is loaded from the ResXManager folder?

[2018-01-29 19:16] rbrinson commented on #74
@tom-englert, thank you for your reply. I am new to working with PowerShell, and you were correct that the assemblies needed to be unblocked in order for PowerShell to load them. It would be nice if the PowerShell error message were a bit more helpful in understanding that this was the case.

[2018-01-29 19:16] #74 closed

[2018-01-31 05:43] ilengyel opened #76 "Scripting: Update strings without tricky code."
When modifying translations during our build script we have code along the lines
[code]

The script runner we use is [Nake](https://github.com/yevhen/Nake), which appears to be single threaded, etc and no UI dispatcher.

To work around this issue we had to force the dispatcher to empty its queue by running this function before the `Save()`:
[code]

[2018-01-31 18:03] rbrinson opened #77 "Scripting: Imported Excel Values Not Persisted to RESX Files"
I have been trying to develop a workflow as part of our CI process that would take an Excel spreadsheet of new and/or updated translated string values for the languages we support and incorporate those changes into our existing RESX files. The Excel spreadsheet was actually created using ResXResourceManager, and the format for each sheet (a typical sheet name would be Extron.GVE.Localization|About

[2018-02-01 03:09] ilengyel commented on #77
@rbrinson this looks like the same issue as I had in #76. There I mentioned the workaround I used where the current dispatcher is forced to empty its queue before calling the save method. In your case you could try porting the `DoEvents()` method mentioned in #76 to powershell and call it before calling `host.Save()`

[2018-02-01 18:00] rbrinson commented on #77
@ilengyel , I added the DoEvents() code you proposed to my unit test code in order to see if I got better results, and it does work. After running through the code, my RESX files are properly updated. @tom-englert does this mean that the Sample.ps1 is broken as it is currently scripted?

[2018-02-02 09:25] michaelhutchful opened #78 "Language is not defined"
I am building a UWP and and I want to be able to right click a string and move to resource. However I get Language is not defined.
I have a manually created a resource file that is loaded in Resx manger

[2018-02-02 13:19] tom-englert commented on #78
Can you post a sample project?

[2018-02-02 16:02] #76 closed

[2018-02-02 16:02] #77 closed

[2018-02-02 16:23] michaelhutchful commented on #78
https://github.com/michaelhutchful/resxtest.git
This is a UWP app targetting the fall creators update(16299). I have been able to recreate the problem. In main.xaml.cs there is a string "dummy string". Right clicking and moving to resource throws the error, Language not defined. Thanks for your quick reply.

[2018-02-03 17:25] #78 closed

[2018-02-05 12:53] michaelhutchful commented on #78
Hi, I tried the extension from here http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/ but I still have the same issue, do I need to wait for an update to showup in the marketplace?

[2018-02-07 13:05] rdvanbuuren opened #80 "Detect Code References doesn't work with Regex"
Hello,

We're using the Extended Strongly Typed Resource Generator, which generates some extra methods for string formatting in our resources' .Designer.cs files. For example Account.CancelInfo, which got {{0}} in it, will generate Account.CancelInfoFormat(obj arg0) automatically.

We're trying to detect these method references with the following regular expression:
($File.$Key)Format\((\w+,?\W?)+

[2018-02-07 22:11] bhartsfield opened #81 "Feature Request - Add an option to add the default language comments to all language files"
We need to have the default language comments (English in our case) carried into ALL of the resulting language files. I am not seeing a way to do it nor do I see any options around it.

[2018-02-08 08:33] tom-englert commented on #78
That should work, just make sure you always have a resource that matches the neutral language (en-US by default)

[2018-02-08 08:51] michaelhutchful commented on #78
It is working now on the sample project I sent, I think it has to do with my dev project. Thank you so much.

Sent from Mail for Windows 10

From: tom-englert
Sent: 08 February 2018 08:33
To: tom-englert/ResXResourceManager
Cc: michaelhutchful; Author
Subject: Re: [tom-englert/ResXResourceManager] Language is not defined (#78)

That should work, just make sure you always have a resource that match

[2018-02-08 09:19] tom-englert commented on #80
since the arguments can be anything, including strings with ")", maybe try just `($File.$Key)Format\(`

[2018-02-08 09:51] rdvanbuuren commented on #80
That regular expression also doesn't work. Even a literal like "Account.CancelInfoFormat" doesn't work.

[2018-02-08 11:41] tom-englert commented on #80
The problem is here:
https://github.com/tom-englert/ResXResourceManager/blob/master/ResXManager.Model/CodeReferenceTracker.cs#L273
To increase performance the regular expression is only applied to lines that contain the key as a single word.

changing
`_regex.Split(line).Where(keys.Contains)`
into
`keys.Where(key => line.IndexOf(key, StringComparison.OrdinalIgnoreCase) >= 0)`
has a huge performanc

[2018-02-11 16:57] tom-englert commented on #81
You could use the [scripting](../wiki/Scripting) module to synchronize the comments

[2018-02-13 02:50] cuoilennaocacban opened #82 "Move to resource generate wrong code in Attribute"
For example, I have a property decorated with some attributes like ```[Display(Name = "Local text")]```
When using the extension, it automatically generate code to ```[Display(Name = ResourceClass.ResourceKey)]```
But for it to work properly, the code must be ```[Display(ResourceType = typeof(ResourceClass), Name = "ResourceKey")]```

It would be perfect to support this feature, since a lot of tex

[2018-02-13 14:25] tom-englert commented on #82
You can configure the patterns to your needs.
You can also switch the code generator to "Text template" and use the `LocalizedDisplayName` attribute that provides type-safe usage.

[2018-02-13 14:25] #82 closed

[2018-02-14 15:18] Sako73 opened #83 "Dutch-Belgium resx file breaks ResxManager"
I see that **nl-BE** is in the languages list, but when I try to add it as a language, it does not appear as an option in the dropdown.

When I have a *.nl-BE.resx file in the project, it only reads this file, and doesn't recognize others. When I remove that file, it works as expected.

Thanks.

[2018-02-15 11:01] tom-englert commented on #83
It does no longer appear in the drop down if you already have a column of that language.

It works for me:
![image](https://user-images.githubusercontent.com/10229954/36253268-4fb52880-1247-11e8-96e5-19fc60c6abe7.png)

Can you post a sample where it does not work?

[2018-02-15 12:57] oschwab opened #84 "Possibility to use File name in XAML for code generation ?"
Hello,

Inside Xaml I would like to use something like $FileName in Move To Resource.
So that in File MainWindow.xaml , my generated code looks like { ..  MainWindow.Key}.

Is it possible ?

[2018-02-15 13:02] tom-englert commented on #84
No, what would be the use case?

[2018-02-15 13:39] oschwab commented on #84
Alongside WpfLocalizationExtension, I plan to use one-file-per language strategy . To differentiate windows resource ID, I would le to use the Window name (i.e filename) as prefix  [as shown in this image](https://i.imgur.com/rcQ3Ebz.png). (I hope it is more clear now)

[2018-02-15 13:41] Sako73 commented on #83
[ECommerce.nl-BE.resx.zip](https://github.com/tom-englert/ResXResourceManager/files/1727820/ECommerce.nl-BE.resx.zip)
Yep, I saw that the language was missing because I already had the nl-BE added to the grid.

The attached file still breaks though. It will read this file, but won't recognize any others in the directory. If I remove this file, it parses the rest great.

Thanks.

[2018-02-15 14:42] tom-englert commented on #83
I don't have problems with this, everything works fine...

[2018-02-16 10:47] Zysce opened #85 "Export/Import configuration"
Hello,

Is it possible to export/import configuration: Directory, selected projects, ... ?
I don't see any option which allow to do that.

If there is any option, is it scheduled ? or can this feature be added to roadmap ?

[2018-02-16 14:03] tom-englert commented on #85
What exactly do you want to export? What is the use case?

[2018-02-16 14:10] tom-englert commented on #81
@bhartsfield any luck trying to script this?

[2018-02-16 14:13] bhartsfield commented on #81
No. I haven't had the time to look into it. The person managing the files is just doing it manually until I can put some time into it.

[2018-02-19 10:25] Zysce commented on #85
I have an entire solution which I need to export all resources.
However, I need to check/uncheck some projets, to add/remove some languages, set solution folder.

I would like to save this configuration to allow all members of my team to export resources without the need to reconfigure ResXResourceManager every time.

[2018-02-20 21:16] niketgosrani opened #86 "Main View is Empty"
My main view is empty. I get the following exception

`Error: Loader errors at start:
Assembly: Microsoft.Expression.Interactions.dll => Could not load file or assembly 'System.Windows.Interactivity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.:
Could not load file or assembly 'System.Windows.Interactivity

[2018-02-21 08:22] tom-englert commented on #86
Duplicate of #72
Please follow the instructions there to help investigating the problem.

[2018-02-21 08:22] #86 closed

[2018-02-21 08:25] tom-englert commented on #72
Does someone have software from Telerik installed? I think there has been some problems in the past..

[2018-02-21 12:47] Sako73 commented on #83
That file reads, but if it is in the directory, no other files, including the neutral language, will.

I'll look through the code some more. Thanks for looking into it

[2018-02-21 12:51] tom-englert commented on #83
I have tried by cloning your sample file as neutral and German, and it all worked fine. Maybe there are other constraints? Can you reproduce this in a sample project?

[2018-02-21 13:25] ShalokShalom opened #87 "Standalone platforms"
Hi :)

Does the standalone platform work on .NET Core and Mono?

[2018-02-21 13:36] tom-englert commented on #87
The standalone app is a WPF Application, so it will run on Windows only.
The scripting might work on other platforms, too - I never tried.

[2018-02-21 13:51] ShalokShalom commented on #87
You might mention this in your readme

[2018-02-21 13:51] #87 closed

[2018-02-21 18:21] niketgosrani commented on #72
We don't have Telerik installed but we have its assemblies in our Debug folder and also already tried the above resolutions and still does not work.

[2018-02-21 18:26] niketgosrani commented on #72
We removed all the Telerik dlls and it still does not work. The following exception is thrown in Output window
`
Error: Loader errors at start:
Assembly: Microsoft.Expression.Interactions.dll => Could not load file or assembly 'System.Windows.Interactivity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.:
Cou

[2018-02-21 19:01] niketgosrani opened #88 "Japanese translation adds extra characters at the end"
Whenever we translate anything in Japanese, it adds up extra characters at the end by itself. This is only specific to Japanese and more specifically happens when we import these from an Excel.

[2018-02-26 12:50] tom-englert commented on #88
Can you post a sample Excel?

[2018-02-26 12:56] tom-englert commented on #72
@DRESAAN, @niketgosrani
I still have no feedback on this: are both `System.Windows.Interactivity.dll` and `Microsoft.Expression.Interactions.dll` only loaded once and only from the ResXManager folder, or are there multiple instances or loaded from different locations?

[2018-02-26 18:27] niketgosrani commented on #72
I am at least aware of using "System.Windows.Interactivity.dll" in our project and it comes from our local on the machine and use version (3.0.40218.0) and also "AppData\Local\Microsoft\VisualStudio\15.0_75079540\Extensions\oquiejlc.vbf" this installs the older version. Also, the plugin for ResX manager installs the older version of "System.Windows.Interactivity.dll" (2.0.20525.0). This same is se

[2018-02-27 07:08] cuoilennaocacban commented on #82
thank @tom-englert ,
for those who stumble upon this, here is the exact patterns
[code]

[2018-02-27 10:46] tom-englert commented on #72
@DRESAAN @niketgosrani
I have the same here, except that Microsoft.Expression.Interactions is not from GAC but from the ResXManager folder.

Can you check what version of .Net Framework you have installed on your machine?

[2018-02-27 11:00] DRESAAN commented on #72
I had a quick look at the versions. Looks like I have the versions 2.0.5xxxx, 3.0, 3.5, 4.0 and 4.6.2

[2018-02-27 11:10] tom-englert commented on #72
This could be the reason - there was a fix for WPF targeting such issues in 4.7.1

[2018-02-27 22:26] niketgosrani commented on #88
This is our Excel file:

`
Project;File;Key;Comment;Comment.ja;.ja
WpfApp1;Properties\Resources;Fixed_Browse;;Browse;;閲覧
WpfApp1;Properties\Resources;Fixed_PasswordRequired;Password Required;パスワードが必要です
WpfApp1;Properties\Resources;Fixed_Devices;;devices;デバイス（複数）
`

This is our Japanese reference file after we import the excel file using the tool:

`<?xml version="1.0" encoding="utf-8"?>
<root>

[2018-03-01 17:02] JBaltika opened #89 "Moving to resource popup window questions"
Hi Tom,

The first, thanks for writing & maintaining this fantastic peace of software!  A lot of hard work man ....

I have a few question/enhancements(?):

1. Is possible to remove from key string formatted placeholders for C# moving to resource popup window ? For example : "My name is {0}." or $"My name is {name}."  The result is 'MyNameIs0'

2. Is it possible to remove English 'the' and 'a' as

[2018-03-04 14:46] #88 closed

[2018-03-04 16:47] tom-englert commented on #89
I found that however hard you try, keys generated from text are usually bad and have to be edited anyhow, so I simply put in as much info as possible, because deleting is easier typing.

However you have some good arguments there, maybe you want to provide a PR with a more sophisticated solution. The code that generates the key is here:

https://github.com/tom-englert/ResXResourceManager/blob/mast

[2018-03-05 07:13] ChristophSeelbach opened #90 "NULL Exception at the Start from the ResxManager"
Fehler: System.Windows.Markup.XamlParseException: Die Sammlungseigenschaft "Microsoft.Expression.Interactivity.Core.PropertyChangedTrigger"."Actions" ist NULL. ---> System.Xaml.XamlObjectWriterException: Die Sammlungseigenschaft "Microsoft.Expression.Interactivity.Core.PropertyChangedTrigger"."Actions" ist NULL.
   bei System.Xaml.XamlObjectWriter.WriteGetObject()
   bei System.Xaml.XamlWriter.Wri

[2018-03-06 10:04] MauroMon opened #91 "Horizontal scrollbar missing using filter with no results"
Hi.

If i'm using a filter with no result the horizontal scrollbar disappear and, if the filter is on a column that is not visible without scrolling, the only way to remove the filter is to remove the visibility of some columns.

In attacched picture i set the filter on a culumn that need scrool but i can't remove it because the horizzontal scrollbar is missing.

I hope i was clear.

Thank you

![

[2018-03-06 10:14] tom-englert commented on #90
Duplicate of #72, please follow instructions there

[2018-03-06 10:14] #90 closed

[2018-03-06 18:23] niketgosrani commented on #88
hi,

Thank you for the fix. But how do I take this changes and make it work on
my local as I do not see the latest version release with these changes. It
would be a great help if you suggest how do I integrate these in the
application which I already have running in my Visual studio as an
extension.

On Sun, Mar 4, 2018 at 6:46 AM, tom-englert <notifications@github.com>
wrote:

--
-Thanks and rega

[2018-03-07 09:41] tom-englert commented on #88
You can use the latest build from http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a

[2018-03-08 18:01] niketgosrani commented on #88
Thank you for the above link and it worked fine except few errors to solve
before it worked. Thank you again for all your help and for the great ResX
Manager tool

On Wed, Mar 7, 2018 at 1:41 AM, tom-englert <notifications@github.com>
wrote:

--
-Thanks and regards,

*NIKET GOSRANI*

[2018-03-08 21:39] dahall opened #92 "Add Microsoft Terminology Services as a translation option"
Microsoft provides an API to access all of their localizations (see https://www.microsoft.com/en-us/language/Microsoft-Terminology-API). It would be valuable to have this added as an option on the Translate tab.

[2018-03-08 21:42] dahall opened #93 "Remove keyboard shortcut specifier ('&') in strings before translating"
When a string contains a keyboard shortcut indicator, it generally causes the translation engines to produce poor results. For example, Azure fails to translate "T&asks", but can successfully translate "Tasks". A simple regular expression could be used to remove those '&' values before sending the service.

[2018-03-08 22:18] JBaltika commented on #89
Hi Tom,
I think i found solution top please everybody . As developers we overthinking sometimes ... Look that we need just token replacement dictionary essentially.
So user in GUI enters in configuration tab something like key/value pairs
" & "  => " and "
"{0}"  => ""
"The " => ""
" the " => ""
...
and so on everybody customizes according language and their requirements as pleased

now that what

[2018-03-10 11:44] tom-englert commented on #83
@Sako73 you still have this problem?

[2018-03-10 15:46] tom-englert commented on #93
Should also remove '_', this is used e.g. by WPF applications.

[2018-03-10 15:46] #93 closed

[2018-03-10 15:47] #92 closed

[2018-03-10 16:17] tom-englert commented on #89
Yes, generally sounds good. However do you think the replace is really necessary?
Replace "&" with "and" and then replace "and" with nothing sounds like overkill.
If we just provide a list words to remove, and maybe allow regex (there is no need to consider performance, it's executed once per mouse click), configuration would me much simpler.

[2018-03-10 17:19] JBaltika commented on #89
Hi Tom,
This just an example to show that even most picky folks can do what they want for naming  and  your software is great for customization ...  :)

[2018-03-11 10:12] brettwinters opened #95 "Google Translate & MyMemory incorrectly translating to zh-hans (simplified) when request zh-hant (traditional)"
Hello

I have an issue. I set the name of the resource file to: "xxxx.zh-hant.resx" (my base is en-US)
When running translate using both google and MM, both translate to zh-hans on the stand-alone version of this software

For example:
"Please Sign In" should output "請登錄" (zh-hant), but in fact output "请登录" (zh-hans)

Note: Using https://translate.google.com/m/translate#auto/zh-TW/Please%20Sign%20

[2018-03-11 11:09] tom-englert commented on #95
I have already tried with MM (#30), but found no way get the correct output.
However for Google there seems to be special handling needed: https://cloud.google.com/translate/docs/languages.
@dahall can you add these special cases?

[2018-03-11 14:11] brettwinters commented on #95
following the link, it seems that the two Chinese scripts need to follow the tag-subtag-code system of BCP-47 naming system which is:

![image](https://user-images.githubusercontent.com/26474006/37254411-fe0ebf8c-256f-11e8-8911-dbf55bfa01f2.png)
(from here: https://cloud.google.com/speech/docs/languages)

Unfortunately, if I use this system the resource file is not recognised. Also using zh-HK/TW

[2018-03-11 14:45] tom-englert commented on #95
The free Azure service does it right.

MyMemory:
`https://mymemory.translated.net/en/English/Chinese-Traditional/Please-Sign-In`
click on "API call"
=> `https://api.mymemory.translated.net/get?q=Please Sign In&langpair=en|zh`
And no matter what Chinese variant you specify as target language, you get always the same result.

Google may be able to handle this, but needs some extra coding. However I

[2018-03-11 19:39] dahall commented on #95
@brettwinters - Just to be specific Google Translate only support traditional and simplified Chinese. I have updated the code such that zh-hant, zh-cht, zh-hk, zh-mo and zh-tw all point to traditional and any other Chinese variant points to simplified. Please correct any of this if you know better.

[2018-03-11 19:42] dahall commented on #95
Also, for documentation purposes, Google supports Cebuano and Hmong as languages, but I have left them out as I could not find equivalent .NET CultureInfo equivalents.

[2018-03-12 05:14] brettwinters commented on #95
I checked with my Chinese friend and he assured me there are only two scripts (although the spoken words would depend on the language)

Thanks so much for your help. This utility is really a godsend!

[2018-03-12 05:14] #95 closed

[2018-03-12 07:50] MauroMon commented on #91
"Clear all filters" should be a great feature

[2018-03-12 13:15] DominicRich opened #97 "V 1.12 Visual Studio Community 2017 15.6.1 Build Hangs"
I don't know if this is purely because we have so many missing translations (9600 or so), but the latest release with the latest update of VS2017 causes VS to hang for around two minutes before every build. Is this a new feature? If so, can it be optional?
This is feature request #28

[2018-03-12 14:35] aitorhdez commented on #97
Hi,
The same for me. 'Missing translation' warnings seem to collapse build process on Visual Studio 2015 (about 12000 messages) There is a way to disable warnings for ResX Manager?
Thanks

[2018-03-12 15:01] wansor commented on #97
Same problem here. Please turn this “feature” off by default. I succeeded one to open the configuration page and turn it off, but I never succeeded to go back to that page. A co-worker never got there. So we had to revert to the previous version.

[2018-03-12 16:23] dingjimmy commented on #97
Visual studio auto updated the extension for everyone on the team i work on this morning and this issue nocked us out for the entire for a day. I can confirm that disabling the feature as suggested has worked for us and we are now back up and running again.

[2018-03-12 20:17] iVcardo opened #98 "Blank screen when opening RESX Resource Manager"
Since updating VS 2017 today RESX Resource Manager is not working, just a blank screen?? I have been using this product successfully for over a year now without a problem. By the way the solution is open just in case you wondered. I have uninstalled and re-installed but still not joy.

![image](https://user-images.githubusercontent.com/29012424/37307277-af44f26a-263a-11e8-9308-f63f75ab81e5.png)

[2018-03-12 20:21] iVcardo commented on #98
Just to add to the above I have been using this product successfully for over a year now without a problem. By the way the solution is open just in case you wondered.

[2018-03-12 20:27] mgauthierUnicel opened #99 "VS 15.6.1 - NotImplementedException when loading main view"
On a clean install of VS 15.6.1, the main view throws the following exception.  The exception can be seen in the ResX Resource Manager output.
The exception is not occuring when the plugin was already installed prior to 15.6.1.

Error: System.Windows.Markup.XamlParseException: The method or operation is not implemented. ---> System.NotImplementedException: The method or operation is not implemente

[2018-03-13 03:46] bigshawn1478 commented on #98
Same problem on VS 2015
![default](https://user-images.githubusercontent.com/12092499/37321449-60155ca6-26b3-11e8-8450-bc1239134cb4.JPG)

ResX version: 1.12.976

Here is the error message from Output window
[code]

[2018-03-13 07:10] rama21385 commented on #98
I can confirm the problem: VS 15.6.1 Professional

[2018-03-13 08:27] BlagoCuljak commented on #97
Hello, we are also having same issues, VS2017, even clean hangs VS, if I wait 5min it does what it should.

Hope Tom is reading this.

[2018-03-13 08:39] GeoRFID commented on #98
Exactly the same on VS Professional 2015 (Version 14.0.25431.01 Update 3)

[2018-03-13 08:48] vanengelen commented on #98
As a quick fix i copied the Newtonsoft.Json.dll file from an other project in the folder mentioned in the error message. In my case c:\Users\erik\AppData\Local\Microsoft\VisualStudio\14.0\Extensions\mxiin3v3.hu0. This seems to work for now.

[2018-03-13 08:49] GeoRFID commented on #98
I think it is a problem of version 1.12 of ResXResource Manager, uninstaling it and manually install 1.11 works again

[2018-03-13 09:38] tom-englert commented on #97
I see, so I will change the default to "off".
May take some days until I find time to publish the new release...

[2018-03-13 10:05] DominicRich commented on #97
@tom-englert I didn't realise you could turn this off in the configuration (thanks @aitorhdez ).
This does solve the issue. You may want to turn it off by default unless you could put something in the output window which stated it was checking and warned about performance? I think this can be closed given that it can be turned off.

The solution is to go into the configuration tab (at the bottom o

[2018-03-13 10:48] kristofhoedt opened #100 "VS 2017 Pro (version 15.6.1) ResXManager 1.12.976 caused 705 seconds of unresponsiveness while building solution"
I'm having troubles when building my solutions. The new version of ResXResourceManager caused 705 seconds of unresponsiveness when I tried to rebuild my solution.

![capture_resxresourcemanager](https://user-images.githubusercontent.com/37331892/37337306-20814fae-26b4-11e8-9983-489dd700b526.PNG)

[2018-03-13 10:52] Nephyron opened #101 "Visual Studio 15.6.1 Hangs with version 1.12.976"
With latest version 1.12.976 Visual studio v 15.6.1 hans while compiling

[2018-03-13 10:58] tom-englert commented on #97
Reopen to avoid people adding too many duplicates

[2018-03-13 10:59] tom-englert commented on #101
Duplicate of #97

[2018-03-13 10:59] #101 closed

[2018-03-13 11:00] tom-englert commented on #100
Duplicate of #97

[2018-03-13 11:00] #100 closed

[2018-03-13 13:00] iVcardo commented on #98
I can confirm it is a V 1.12 version issue of ResX Resource Manager, uninstalling it and manually installing 1.11 works, then disable automatic updates.

[2018-03-13 15:54] ComputeriseIt commented on #98
Same here in Visual Studio Community 15.6.1

[2018-03-13 16:31] larwine commented on #98
Same here in Community 15
I had to uninstall the new version, download the old version and install for it to start working again

[2018-03-13 16:50] eduardoalba commented on #98
I can confirm the problem: VS 15

[2018-03-13 19:30] madskristensen commented on #97
@tom-englert It looks like it happens in this method https://github.com/tom-englert/ResXResourceManager/blob/master/ResXManager.VSIX/ErrorProvider.cs#L90 when you add tasks to the collection. It may be fixed simply by calling TaskProvider.SuspendRefresh() before you modify the collection and TaskProvider.ResumeRefresh() afterwards

[2018-03-13 22:42] Sebastian1989101 opened #102 "Visual Studio 2017 crash when this plugin is enabled"
Everytime I try to debug my Xamarin.Forms / Android project while this plugin is active, the whole Visual Studio 2017 crashes since the latest update of it. A fix would be great because I was using this plugin a lot...

Maybe this is related: My project has currently 11 languages which each over 10.000 entries. But I don't understand why the whole studio crashes when I try to debug even when the R

[2018-03-14 03:38] zqooqz0986 opened #103 "this extension will cause VS2015 not responding"

[2018-03-14 06:40] ningin commented on #98
vanengelen's solution is work,thank you!

[2018-03-14 08:10] hilk commented on #98
I can confirm too in vs 15 pro.  iVcardo's solution work for me and i disable automatic updates.

[2018-03-14 08:15] sjoerdboerhout commented on #103
I can confirm this issue. Since the last update (12 march) every clean or update action on a random project causes a freeze of VS2015 for at least 3 minutes before the action is started. After disabling ResX Manager the problem was solved.

[2018-03-14 10:10] FrancescoGiossi commented on #103
Same here.
VS2015 randomly freezes when building or cleaning a solution. Disabling ResxResourceManager extension fix the problem.
The build of one very huge solution I work with since at least 8 years ALWAYS freezes Visual Studio (I use this extension since the beginning, never had a single problema with it).
This kind of problem has never happened before.

[2018-03-14 10:42] Insire commented on #102
Same here. Windows 10 Pro x64 with Visual Studio 2017 15.6.1.
Compiling a c# solution with 80 projects, will make VS hang. Waiting doesnt help either (waited 30mins++)

[2018-03-14 10:45] tom-englert commented on #102
Duplicate of #97

[2018-03-14 10:45] #102 closed

[2018-03-14 10:45] tom-englert commented on #103
Duplicate of #97

[2018-03-14 10:45] #103 closed

[2018-03-14 11:44] iVcardo commented on #98
@tom-englert any chance of a fix for this issue Tom? Thanks

[2018-03-15 08:28] DRESAAN opened #104 "Feature Request: Convert all strings in file (xaml) to resource"
I prefer to write xaml files withour resource and exchange them later. With ResXResourceManager I can replace each single string and create a resource string. I would like to automate this for a complete file.
Maybe you could use a pattern to find something like:
Text="Some string without braces"
or
Content="Some string without braces"

[2018-03-15 10:39] tofupl commented on #98
I can confirm too in vs 15 pro.

[2018-03-15 11:13] MaximSaraev commented on #98
The same for VS 2015 Enterprise

[2018-03-15 12:23] dmitrykarpenko opened #105 "No code generated"
If a resource names format is {name}.{language}.resx (contains dot between name and language), then those are displayed OK in ResX Resource Manager (as one instance for several languages), but no code is generated:
https://image.prntscr.com/image/q-jQUvXdTgaGq9Z50Lfseg.png
https://image.prntscr.com/image/B_AG0cfkSQah_M6Em6r-2A.png

On the other hand, code is generated after rename (to {name}-{lang

[2018-03-15 13:10] #97 closed

[2018-03-15 16:13] tom-englert commented on #98
Fixed in V1.13

[2018-03-15 16:13] #98 closed

[2018-03-15 16:26] tom-englert commented on #105
The code is usually generated from the neutral language file, which is by convention {name}.resx.
This file is missing in your samples.
There is no bug in the code generator.

[2018-03-15 16:26] #105 closed

[2018-03-17 17:38] tom-englert commented on #104
Move to resource currently is very simple and language agnostic. Is someone wants to contribute parsers for specific languages, I'm happy to integrate them.

[2018-03-18 10:23] tom-englert commented on #99
@mgauthierUnicel did V1.13 fix this?

[2018-03-18 10:38] tom-englert commented on #83
Closed - not reproducible, and no feedback from @Sako73

[2018-03-19 10:27] DanieleMazz opened #107 "VS 15.6.2 - Standard header expected error when import from Excel"
When I try to import a configuration from an Excel file a messageBox appears with the error:
"Standard header expected."
The error occurs even if I try to export and immediately import the newly created file.
can you help me?
Thanks in advance

[2018-03-19 11:34] #107 closed

[2018-03-19 11:35] tom-englert commented on #107
It works if you have changed and saved with Excel. Importing an unchanged file will be fixed in the next release.

[2018-03-19 13:11] mgauthierUnicel commented on #99
@tom-englert  no.  I still have the exception with 1.13.988.0 and VS 15.6.2

[2018-03-23 11:18] imarcu opened #108 "Import from excel generates numbers instead of text"
When importing a new excel file my result looks like this :
![image](https://user-images.githubusercontent.com/7870152/37826528-6e1e141e-2e9c-11e8-8504-9e2559a1e56f.png)
instead of the text that is in the excel file on those columns.

I have checked the key and it maches, the column names are identitcal because the file i am importing is just an old export that was edited. I have applied the same

[2018-03-23 13:46] tom-englert commented on #108
Can you share the excel file?

[2018-03-23 14:11] imarcu commented on #108
can i add a file here ?
this is a link from my drive
https://drive.google.com/file/d/1JbXJyJ60RxMbg02_vzYS30MTiZ7OWB5C/view?usp=sharing

when importing this i have this result
![image](https://user-images.githubusercontent.com/7870152/37833742-c4a85f48-2eb4-11e8-87b0-247c8d9c6cb3.png)

[2018-03-23 16:41] #108 closed

[2018-03-24 16:34] dolphinsd opened #109 "Feature request for xml and json string files"
Microsoft recommends to use xml or json strings files to manage strings as it easy to read, portable across platforms, etc. It easy to implement.

[2018-03-24 17:27] tom-englert commented on #109
.resx files **ARE** xml - so what is this request about?

[2018-03-26 11:39] JBaltika opened #110 "New Feature request - Add Resource dropdown filter"
Hi Tom,

Quick request. Would it be possible to add the filter for Resource dropdown list box? The issue is if its a huge enterprise application with resources many resource files is hard to find  right one. For example, our app had 120 plugins and each plugin has three files - validation issues , visual and non-visual exceptions (we using commend fields to store error codes, links and extra user

[2018-03-27 15:10] FortegaITSolutions opened #111 "Exception when trying to add a new resource file"
Hi,

When I add a new language and try to add translation, I am asked if I want to add the resource file to the project. When I press 'Yes', I get the following exception: 'error adding the new resource file' (see screenshot) (by the way, the stacktrace mentions C:\Agent, but this folder does not exist on my pc)

I am not able to add new translations at the moment.

![image](https://user-images.gi

[2018-03-28 14:54] gvgorp opened #112 "Main Form stays empty after installing 1.13.1001"
After MSVS updated the resource manager to latest version, I can right click on a resource resx file, so that the resource manager opens. Unfortunately the main window stays empty.
I have Visual Studio 2017 with ResX Manager 1.13.1001 from the VS Extensions and Updates.
![resxmanager](https://user-images.githubusercontent.com/22146098/38037200-9f0824f6-32a8-11e8-8403-2b68695f9faa.PNG)

[2018-03-29 14:02] tom-englert commented on #112
Pleas attach the log from the output window

[2018-03-29 14:04] gvgorp commented on #112
Error: Loader errors at start:
Assembly: Microsoft.Expression.Interactions.dll => Could not load file or assembly 'System.Windows.Interactivity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.:
Could not load file or assembly 'System.Windows.Interactivity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf

[2018-03-29 14:26] tom-englert commented on #111
This is an error message from VS (EnvDTE.ProjectItem) - sometimes restarting VS helps.
Does this only happen with one specific project, or with all projects in the solution?
Maybe changing the File creation configuration helps?

[2018-03-29 14:30] tom-englert commented on #112
Then it's a duplicate of #72, either try to update .Net or add a binding redirect.

[2018-03-29 14:30] #112 closed

[2018-03-29 14:32] tom-englert commented on #109
@dolphinsd any adds to this?

[2018-03-29 15:01] FortegaITSolutions commented on #111
Restarting VS sometimes helps... Where do I find the File creation configuration?

[2018-03-29 15:02] tom-englert commented on #111
On the configuration page

[2018-03-30 05:01] dolphinsd commented on #109
Have you try to edit those xml files by hand? I am talking about simple xml/json file with simple structure. For example:
<?xml version="1.0" encoding="utf-8" ?>
<localizationDictionary culture="en">
  <texts>

    <text name="HomePage" value="Home page" />
    <text name="AboutUs" value="About us" />

  </texts>
</localizationDictionary>

[2018-03-30 14:20] tom-englert commented on #109
do you think of something like in #31?

[2018-03-31 14:50] tom-englert commented on #99
@mgauthierUnicel The stack trace does not point to ResXManager code, but to the systems xaml reader. Also this has never been reported by s.o. else, so I guess the problem is on your machine, only.
Have you tried updating the .Net Framework?

[2018-03-31 14:51] tom-englert commented on #111
@FortegaITSolutions could you solve this?

[2018-04-03 16:08] Markallanlevy opened #113 "Main page blank."
I am running VS 2015, but also saw same issue on VS 2017.
I have tried to follow the other threads that appear to be related to this, but making those changes did not do anything.

![image](https://user-images.githubusercontent.com/38045728/38261207-323c9f92-372f-11e8-9076-64d8b92f804c.png)

[2018-04-04 13:25] Markallanlevy commented on #113
Runtime Version: v4.0.30319

From: tom-englert [mailto:notifications@github.com]
Sent: Wednesday, April 04, 2018 3:23 AM
To: tom-englert/ResXResourceManager <ResXResourceManager@noreply.github.com>
Cc: Levy, Mark <mlevy@pregis.com>; Mention <mention@noreply.github.com>
Subject: Re: [tom-englert/ResXResourceManager] Main page blank. (#113)

@Markallanlevy<https://github.com/Markallanlevy> so what v

[2018-04-04 13:44] mgauthierUnicel commented on #99
@tom-englert,  I have .NET Framework Version 461308 installed (.NET 4.7.1 of Windows 10 Fall Creators Update).

BTW, the full stack trace returned in the output was given.

[2018-04-04 13:54] mgauthierUnicel commented on #99
I confirm that the fix you brought in #72 fixed my issue

[2018-04-04 13:54] #99 closed

[2018-04-04 14:03] tom-englert commented on #113
@Markallanlevy can you try the latest version from http://vsixgallery.com/

[2018-04-04 14:17] Markallanlevy commented on #113
WORKING!!!

Thanks so much!

From: tom-englert [mailto:notifications@github.com]
Sent: Wednesday, April 04, 2018 9:03 AM
To: tom-englert/ResXResourceManager <ResXResourceManager@noreply.github.com>
Cc: Levy, Mark <mlevy@pregis.com>; Mention <mention@noreply.github.com>
Subject: Re: [tom-englert/ResXResourceManager] Main page blank. (#113)

@Markallanlevy<https://github.com/Markallanlevy> can you t

[2018-04-05 08:37] a-swoboda opened #114 "neutral de"
It is not possible to add the neutral de Language

[2018-04-05 08:40] tom-englert commented on #114
@a-swoboda Please add a proper description of your problem.

[2018-04-05 08:41] tom-englert commented on #111
@FortegaITSolutions any news on this?

[2018-04-05 08:50] a-swoboda commented on #114
When trying to add the neutral de-Language which has only de as Name (not de-DE or de-AT) this is not possible,
the resource should have the name {Name}.de.resx.
With the command “Add new Language” you get the window to select a language, but de is always replaced with de-DE.
Even if this resource is already existing it is not recognized, with cs, en, eu this works.

Von: tom-englert <notification

[2018-04-05 08:52] a-swoboda commented on #114
Addition:
This works in the standalone, but not from VS(2013)!

[2018-04-05 08:56] tom-englert commented on #114
It works fine, unless you already have a "de" resource

[2018-04-05 09:45] a-swoboda commented on #114
Hello Tom,

thanks for the answer, saved my time. :-)
(With the .cs.resx file it worked also if the file was already existing)

regards
albrecht

[2018-04-05 09:46] tom-englert commented on #114
😄

[2018-04-05 09:46] #114 closed

[2018-04-07 11:59] #113 closed

[2018-04-07 12:00] tom-englert commented on #111
closed: not reproducible and no feedback

[2018-04-07 12:00] #111 closed

[2018-04-07 12:01] tom-englert commented on #109
closed: request unspecific, no feedback

[2018-04-07 12:01] #109 closed

[2018-04-07 12:03] tom-englert commented on #72
Fixed in 1.15

[2018-04-07 12:03] #72 closed

[2018-04-07 15:38] maikebing opened #115 "Does the reference within WPF not count in the reference number?"
`    xmlns:p="clr-namespace:SteveCadwallader.CodeMaid.Properties">`

`   <CheckBox Content="{x:Static p:Resources.CleanupActiveDocument}" IsChecked="{Binding CleanupActiveCode}" />`

[2018-04-08 13:54] tom-englert commented on #115
Yes, it should:
![image](https://user-images.githubusercontent.com/10229954/38468377-0b4e93bc-3b45-11e8-9ef2-1d972c4f8cb6.png)

[2018-04-08 15:08] maikebing commented on #115
Thanks!

[2018-04-08 15:08] #115 closed

[2018-04-10 07:06] mdenzin opened #116 "Main window empty after update to version 1.15.1006"
The main window is empty after update to new version. Standalone version is working.
Using VS 2015. Latest .NET Framework installed is 4.7.1.

[2018-04-10 07:08] tom-englert commented on #116
Please provide output

[2018-04-10 09:43] Dwargh commented on #116
Yeah, this:
![image](https://user-images.githubusercontent.com/8590370/38549433-48b03eca-3cb4-11e8-9cf8-a5d2c1691284.png)

[2018-04-10 10:03] Xgleich8 commented on #116
I have the same problem VS 2017 (15.6.5) .Net 4.7.02558 and VS crashed after clicking other tab in ResXManager.

Application: devenv.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.ArgumentException
   at System.Windows.FreezableCollection`1[[System.__Canon, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b7

[2018-04-10 10:54] Xgleich8 commented on #116
![vs1](https://user-images.githubusercontent.com/33786825/38552160-8c010d60-3cbb-11e8-8e32-aca0c53057fe.png)
C:\Users\username\AppData\Local\Microsoft\VisualStudio\15.0_5b7e72d3\Extensions\h003bzrq.031\System.Windows.Interactivity.dll

and

![vs2](https://user-images.githubusercontent.com/33786825/38552276-f3d94c4a-3cbb-11e8-8242-f08b7a28a171.png)

I have deleted the .vs folder within the solution

[2018-04-10 11:59] Dwargh commented on #116
now I got this:

Error: Loader errors at start:
Assembly: Microsoft.Expression.Interactions.dll => GenericArguments[0], 'System.Object', on 'System.Windows.Interactivity.TargetedTriggerAction`1[T]' violates the constraint of type parameter 'T'.:
GenericArguments[0], 'System.Object', on 'System.Windows.Interactivity.TargetedTriggerAction`1[T]' violates the constraint of type parameter 'T'.:
ResX Re

[2018-04-10 12:46] mdenzin commented on #116
Got th same error message in output as Dwargh. When I copy an older version of System.Windows.Interactivity to the Resx folder I can see the tabs. Main tab is still empty but the
content on configuration and languages tab is visible .

[2018-04-10 12:47] mdenzin commented on #116
Sorry. Wrong button.

[2018-04-10 13:02] tom-englert commented on #116
@mdenzin can you start another VS and list all assemblies, to see what versions of System.Windows.Interactivity are loaded:
https://stackoverflow.com/questions/458362/how-do-i-list-all-loaded-assemblies#458390

[2018-04-10 13:26] mdenzin commented on #116
R# Ultimate 2016.1.1 with System.Windows.Interactivity.dll Version  1.01340.0.
Version from Resx Folder = 3.0.40218.0

[2018-04-10 13:49] tom-englert commented on #116
Now that's a really outdated version of R#

[2018-04-10 18:49] Xgleich8 commented on #116
It's not work for me. I have no other Extension with Reference to **System.Windows.Interactivity.dll**

Error: System.Windows.Markup.XamlParseException: Add value to collection of type 'System.Windows.Interactivity.BehaviorCollection' threw an exception. ---> System.ArgumentException: Cannot add instance of type 'EntityFilter' to a collection of type 'BehaviorCollection'. Only items of type 'T' ar

[2018-04-11 05:15] judick341 opened #117 "ResXManager not working in VS 2017 15.6.6"
ResX Resource Manager loaded.
Home: https://github.com/tom-englert/ResXResourceManager
Report issues: https://github.com/tom-englert/ResXResourceManager/issues
Support the project by adding a short review: https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager#review-details
Error: System.Windows.Markup.XamlParseException: Add value to collection of type 'System.Windows.Interac

[2018-04-11 07:39] tom-englert commented on #117
@judick341 Can you try the latest build from http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/

[2018-04-11 08:05] judick341 commented on #117
I installed the latest build, unfortunately it is not working too. Here is the message from VS 2017 15.6.6.
It seems that this is not a general problem of ResXManager, since it is working in the same VS2017 on the computer of a colleague?!

ResX Resource Manager loaded.
Home: https://github.com/tom-englert/ResXResourceManager
Report issues: https://github.com/tom-englert/ResXResourceManager/issues

[2018-04-11 09:42] tom-englert commented on #116
@Xgleich8 can you try the latest build from http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/

[2018-04-11 09:45] tom-englert commented on #117
@judick341 there's another update, can you try it?

[2018-04-11 09:52] Xgleich8 commented on #117
Could limit the problem even further: when I open Visual Studio 2017 directly it works. But when I open a solution directly it doesn't work always.

**http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/**

Error: System.Diagnostics.Contracts.__ContractsRuntime+ContractException: Precondition failed: dataGrid != null
   at tomenglertde.ResXManager.View.Tools.ColumnManager.SetupCo

[2018-04-11 09:57] judick341 commented on #117
Ok, now with output of 1.15.1037.0:

ResX Resource Manager loaded.
Home: https://github.com/tom-englert/ResXResourceManager
Report issues: https://github.com/tom-englert/ResXResourceManager/issues
Support the project by adding a short review: https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager#review-details
Error: System.Windows.Markup.XamlParseException: Add value to colle

[2018-04-11 11:30] tom-englert commented on #117
Can you try https://github.com/remcoros/DuplicateExtensionFinder

[2018-04-11 11:49] Xgleich8 commented on #117
Didn't work

[2018-04-11 13:34] judick341 commented on #117
Tried it too, didn't solve the problem.

[delete.txt](https://github.com/tom-englert/ResXResourceManager/files/1899007/delete.txt)
[duplicates.txt](https://github.com/tom-englert/ResXResourceManager/files/1899008/duplicates.txt)

[2018-04-11 15:10] pinki commented on #117
@Xgleich8 I have the same behavior on my machine. When I open VS before I load the solution, everything's fine. When I open it loading the solution directly, the main tab is empty and/or VS crashes.

[2018-04-11 18:42] ruigaspar commented on #117
Last ResXManager Version (1.15.1037.0)

VS Community 2015 (14.0.25431.01): **Working**
VS Community 2017 (15.6.6): **Not Working**

Outputs--------------------
VS Community 2015:
[code]

VS Community 2017:
[code]

[2018-04-12 07:54] nintoantony opened #118 "Neutral resx files is not creating"
The neutral resx file is not created, when I am importing an excel.

[2018-04-12 10:03] vRITHNER commented on #117
When I install on my version 15.7.0 Preview 3, the extension is always disabled.
Even after Enable, restart, he still disabled.
I did run the tool to find duplicated ones and delete them.
Still same issue
![2018-04-12_12h03_30](https://user-images.githubusercontent.com/238842/38670607-88ae8d4c-3e49-11e8-9d1a-5898c90a1721.png)

[2018-04-12 10:48] tom-englert commented on #117
@vRITHNER then the VS extension installer cache seems to be messed up. Try to uninstall ResXManager and install again.

[2018-04-12 10:50] tom-englert commented on #118
That's not supported. If you find a way to handle this, you may submit a PR.

[2018-04-12 10:50] #118 closed

[2018-04-12 13:59] ruigaspar commented on #117
Didn't solve the problem :(

[code]

[2018-04-14 08:56] tom-englert commented on #117
@ruigaspar Now this is the problem:
[code]

can you check what is installed in `D:/Program Files (x86)/Microsoft Visual Studio/2017/Community/Common7/IDE/Extensions/wyhgzaqi.mh1`?

[2018-04-14 11:13] ruigaspar commented on #117
The extension is "GitHub.VisualStudio". I uninstall and worked, then reinstalled and stopped working again...

[2018-04-14 13:34] tom-englert commented on #117
I can't see anything wrong on their side - and what happens if you remove `D:/Program Files (x86)/Microsoft Visual Studio/2017/Community/Common7/IDE/PrivateAssemblies/System.Windows.Interactivity.DLL` ?

[2018-04-14 14:45] tom-englert commented on #117
I have now installed GitHub for VisualStudio, and everything still works fine, so the problem is probably caused by the code loading `D:/Program Files (x86)/Microsoft Visual Studio/2017/Community/Common7/IDE/PrivateAssemblies/System.Windows.Interactivity.DLL` (`.../Common7/IDE/PrivateAssemblies` does not exist on my machines)

[2018-04-15 15:15] jerone commented on #104
👍, but also for `.cshtml` files.

[2018-04-15 16:55] tom-englert commented on #117
I can confirm that adding `System.Windows.Interactivity.DLL` to the `.../Common7/IDE/PrivateAssemblies/` folder generates exactly the described behavior, and removing it from there fixes the problem.

[2018-04-15 16:55] #117 closed

[2018-04-16 06:53] tom-englert commented on #117
@madskristensen I was just reading your post in the April 2018 - VS Partner Update, talking about the correct implementation of extensions.
Is there any advice how to distribute and use such shared stuff like the `System.Windows.Interactivity.DLL`?
Why does it behave different when a copy is in the `.../Common7/IDE/PrivateAssemblies` folder?
What is VS`s strategy behind this?

[2018-04-16 10:41] Dwargh commented on #116
I get this error with the above mentioned build

[code]

[2018-04-16 10:59] tom-englert commented on #116
@Dwargh nothing else in the log?

[2018-04-16 15:55] madskristensen commented on #117
@tom-englert I've got no idea about that. Perhaps @alexeyler does?

[2018-04-17 05:05] judick341 commented on #117
I do not have the assembly that you mentioned in my PrivateAssemblies of the IDE folder. Unfortunately the problem is not solved for me.

[2018-04-17 05:49] tom-englert commented on #117
@judick341 can you attach the log? "It does not work" is nothing I can work on.

[2018-04-17 05:57] tom-englert commented on #117
@madskristensen I think I finally figured it out - it's been MEF loading the wrong assemblies. After loading them by my own and passing the assembly instead of the file name to MEF, the problem was gone.

[2018-04-17 06:41] tom-englert commented on #117
@judick341 of course if you did not update and still use the old version, you wont see the fix.

[2018-04-17 07:02] judick341 commented on #117
Ok, that's the log for the new version 1043:
[ResXManager.log](https://github.com/tom-englert/ResXResourceManager/files/1918440/ResXManager.log)

[2018-04-17 10:11] tom-englert commented on #117
@judick341 Can you try removing System.Windows.Interactivity.DLL from the GAC?

[2018-04-17 11:12] judick341 commented on #117
The DLLs are installed by the .NET-Framework and must not be removed by the user. I have one with version 4.0 and one with version 4.5 in the GAC. I tried to remove them with the tool GACBrowser anyway, but failed to remove them.
I downloaded your code and have seen, that you use different versions of System.Windows.Interactivity in your solution. And: the DLL that is published is a version3.x ?!

[2018-04-17 12:41] judick341 commented on #117
YES!!!! Thank you very much for your support!
I leave the version 1043 of the ResXManager installed. Great tool!

[2018-04-18 09:55] Dwargh commented on #116
I tried the newest version.  still empty window.
This is what's in the output.
[code]

[2018-04-18 11:34] AhmedRabeeMoahmed opened #119 "Crash While opening VS 2017 ..."
ResX Resource Manager loaded.
Home: https://github.com/tom-englert/ResXResourceManager
Report issues: https://github.com/tom-englert/ResXResourceManager/issues
Support the project by adding a short review: https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager#review-details
Error: System.Windows.Markup.XamlParseException: Add value to collection of type 'System.Windows.Interac

[2018-04-18 12:49] tom-englert commented on #119
Duplicate of #117

[2018-04-18 12:49] #119 closed

[2018-04-18 12:51] tom-englert commented on #116
@Dwargh unfortunately you have clipped the essential part of the output. Please attach the full output.

[2018-04-18 13:23] ImrePyhvel opened #120 "Supress "missing translation" warnings from specific files or projects"
I have a project with N localized languages. On build, ResXManager shows me warnings for every missing translations. While some parts of application should support all N languages, some other parts are ever user only in subset of languages and hence we are not adding those translations. Meaning, we have a few "missing translation"-warnings we care about among plenty of "missing translation" warnin

[2018-04-18 13:31] hkoestin opened #121 "ResX Manager does not start after update to new version"
Hey there,

since VS did auto update the extension to version 1.15.1006.0 recently, I cannot launch the extension anymore.

I get the following errors.

Maybe somebody can help?

Cheers,
Harald

[code]

[2018-04-18 13:35] hkoestin commented on #121
Maybe related to #72 and #90

[2018-04-18 13:35] tom-englert commented on #121
Duplicate of #117 - try latest version from vsixgallery

[2018-04-18 13:35] #121 closed

[2018-04-18 13:39] hkoestin commented on #121
I have installed the latest version 1.15.1006.
But I am running VS 2015, not 2017.

Microsoft Visual Studio Professional 2015
Version 14.0.25431.01 Update 3
Microsoft .NET Framework
Version 4.7.02556

Running it as stand-alone now helps.

[2018-04-18 13:40] ImrePyhvel commented on #120
I found that a partial solution is to adjust the "File exclusion filter" regular expression under "Configuration" tab. This also removes the resources from "Main" view, which is ok in some scenarios and less ok for others.

The general question of options for suppression of warnings (without total exclusion) still stands.

[2018-04-18 13:44] hkoestin commented on #121
Downgraded to Version: 1.13.988.0 again, which works for my configuration.

[2018-04-18 17:03] tom-englert commented on #121
Just released 1.16, can you try this?

[2018-04-18 17:03] tom-englert commented on #119
Just released 1.16, can you try this?

[2018-04-19 06:14] hkoestin commented on #121
I did give it a try now.
Does still not work. See below.

[code]

[2018-04-19 06:45] hkoestin commented on #121
Well, but I can't update to a new version of R# now, as I do not have a lic for the new versions.

[2018-04-19 06:52] tom-englert commented on #121
So you have to stay with ResXManger 1.13, too

[2018-04-19 07:01] tom-englert commented on #120
@ImrePyhvel you can simply switch off warnings on the configuration tab, or mark all respective entries as "Invariant"

[2018-04-19 07:01] #120 closed

[2018-04-19 12:52] mnyhjem opened #122 "Addon fails to load"
When opening the addon, the window remains blank, and the following exception is written to the output window:
[code]

[2018-04-20 07:41] skyflashde commented on #122
Got the same problem here.

Resolved System.Windows.Interactivity, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35 from file:///C:/Program Files (x86)/Microsoft Visual Studio/2017/Professional/Common7/IDE/PrivateAssemblies/System.Windows.Interactivity.DLL
Init: 188 ms
Found assembly 'Newtonsoft.Json, Version=9.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' already loade

[2018-04-20 07:47] tom-englert commented on #122
@mnyhjem
[code]
See what extension is located in C:/USERS/MARTI/APPDATA/LOCAL/MICROSOFT/VISUALSTUDIO/15.0_867E1C68/EXTENSIONS/5KYSATD3.UDI/ and disable it.

[2018-04-20 07:48] tom-englert commented on #122
@skyflashde
[code]

remove the one from `C:/Program Files (x86)/Microsoft Visual Studio/2017/Professional/Common7/IDE/PrivateAssemblies/`

[2018-04-20 07:57] marcelbeeker commented on #122
Same issue here. Today the new version doesn't pop up anymore. Restoring back to version 1.15 solves the problem

[2018-04-20 08:00] OPALFrank commented on #122
Similar problem with me (Visual Studio 2015)
Version 1.13.1001 works

Error: System.Windows.Markup.XamlParseException: Add value to collection of type 'System.Windows.Interactivity.BehaviorCollection' threw an exception. ---> System.ArgumentException: Cannot add instance of type 'CommandRoutingBehavior' to a collection of type 'BehaviorCollection'. Only items of type 'T' are allowed.
   at System.

[2018-04-20 08:25] ImrePyhvel commented on #120
Switching off all warnings was not what I needed, but your hint about marking key as "Invariant" was what I was looking for. Found there's even a small wiki page about the feature: [wiki/Invariant-Strings](https://github.com/tom-englert/ResXResourceManager/wiki/Invariant-Strings).

[2018-04-20 08:29] tom-englert commented on #122
@OPALFrank
[code]

Remove the old one in GAC using gacutil.exe

[2018-04-20 09:35] SuperSludge commented on #122
Same problem. I can't resolve it with the suggested solutions:

Resolved System.Windows.Interactivity, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35 from file:///C:/USERS/NEYERM/APPDATA/LOCAL/MICROSOFT/VISUALSTUDIO/15.0_50E0154A/EXTENSIONS/MEZHU1HF.UVZ/System.Windows.Interactivity.dll
Init: 369 ms
ResX Resource Manager loaded.
Home: https://github.com/tom-englert/ResXResourceMa

[2018-04-20 09:41] tom-englert commented on #122
@SuperSludge what extension is installed in `C:/USERS/NEYERM/APPDATA/LOCAL/MICROSOFT/VISUALSTUDIO/15.0_50E0154A/EXTENSIONS/MEZHU1HF.UVZ/System.Windows.Interactivity.dll` ?

[2018-04-20 10:55] tom-englert commented on #120
😃

[2018-04-20 13:10] SuperSludge commented on #122
@tom-englert it's code maid...

[2018-04-20 15:01] Ilyasml commented on #122
Hello.
I have the same issue.
Log is listed.
`Resolved System.Windows.Interactivity, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35 from file:///C:/Program Files (x86)/Microsoft Visual Studio 14.0/Common7/IDE/PrivateAssemblies/System.Windows.Interactivity.DLL
Found assembly 'Newtonsoft.Json, Version=4.5.0.0, Culture=neutral, PublicKeyToken=c7439020c8fedf87' already loaded from f

[2018-04-20 15:10] tom-englert commented on #122
Can someone try the latest build from http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a ?

[2018-04-20 15:16] Ilyasml commented on #122
Tried.
The same error:
`Resolved System.Windows.Interactivity, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35 from file:///C:/Program Files (x86)/Microsoft Visual Studio 14.0/Common7/IDE/PrivateAssemblies/System.Windows.Interactivity.DLL
Loaded assembly 'DataGridExtensions, Version=1.0.37.0, Culture=neutral, PublicKeyToken=43de855f87de903a' from file:///C:/Users/SINSIN/AppData/L

[2018-04-20 15:39] tom-englert commented on #122
@Ilyasml and if you remove the one from "C:/Program Files (x86)/Microsoft Visual Studio 14.0/Common7/IDE/PrivateAssemblies"?

[2018-04-20 15:45] Ilyasml commented on #122
Thanks. It helped

[2018-04-21 07:49] ahmad1986 opened #123 "Addon fails to load"
Hello,
Similar problem with me after update VS to 15.6.4:
[code]

[2018-04-21 08:01] ahmad1986 commented on #122
Hello,
Similar problem with me after update VS to 15.6.4:
Error:
ResX Resource Manager loaded.
Home: https://github.com/tom-englert/ResXResourceManager
Report issues: https://github.com/tom-englert/ResXResourceManager/issues
Support the project by adding a short review: https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager#review-details
Assembly location: C:\Users\user\AppDat

[2018-04-22 06:12] AhmedRabeeMoahmed commented on #119
It is working fine now, thank you.

[2018-04-23 06:02] judick341 commented on #122
I had the same problems, solved it by removing the System.Windows.Interactivity.dll from the GAC. The problem came back... I installed the "Coverity Desktop for Visual Studio". After disabling "Coverity", problem was "solved" ... or not, since I want to use both "ResX Manager" and "Coverity..." and some other extensions too, that may need the same DLLs.

[2018-04-23 07:39] SuperSludge commented on #122
Uninstalling GhostDoc solved the issue. Welcome to DLL hell...

[2018-04-23 09:11] soulman72 commented on #122
Also had this issue - deleting the System.Windows.Interactivity.dll in the AppData/Users-folder solved this issue.

[2018-04-23 12:51] maxhelskens commented on #53
I wrote an extension (based on another project that didn't work) for visual studio for mac to edit resx files. It is really basic and I would love for it to be more like your resxManager (I used it on windows).
If you can use any of the GUI in my project feel free to take a look.

I will try to improve it too if I find the time.. One day.. 😄
https://github.com/maxhelskens/ResxEditor-VS4Mac

[2018-04-23 15:48] SuperSludge commented on #122
After restarting my machine problem reoccurred:

[code]

[2018-04-24 07:17] sunsande commented on #122
Same here.
The hint from @soulman72 helped me (deleting deleting the System.Windows.Interactivity.dll in the AppData/Users-folder)

Thank you @soulman72 !

[2018-04-25 09:39] Dwargh commented on #116
Tried the newest release. got the same error
[code]
uninstalled and installed v1.14 instead.

[2018-04-25 10:07] tom-englert commented on #116
@Dwargh very obvious:
[code]
=> remove the one from PrivateAssemblies

[2018-04-25 11:46] #122 closed

[2018-04-25 11:46] #123 closed

[2018-04-26 10:20] Xgleich8 opened #124 "1.17.1072.0 Loading not correctly by opening VS 15.6.5 over Solution"
Start VS 2017 directly not via *.sln - it works

Version: 1.17.1072.0
.NET Framework Version: 461310 (https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed)
Error: System.Windows.Markup.XamlParseException: Add value to collection of type 'System.Windows.Interactivity.BehaviorCollection' threw an exception. ---> System.ArgumentException: Can

[2018-04-27 09:48] Xgleich8 commented on #124
Found assembly 'Newtonsoft.Json, Version=9.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' already loaded from file:///C:/Program Files (x86)/Microsoft Visual Studio/2017/Enterprise/Common7/IDE/PrivateAssemblies/Newtonsoft.Json.DLL.
Loaded assembly 'ResXManager.Infrastructure, Version=1.17.1072.0, Culture=neutral, PublicKeyToken=695a75ddb69d5a4b' from file:///C:/Users/name/AppData/Local/M

[2018-04-27 11:28] Dwargh commented on #116
thank you for your patience with me.

[2018-04-27 12:18] tom-englert commented on #124
@Xgleich8 can you try the latest version from here: http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/

[2018-04-27 12:30] Xgleich8 commented on #124
It's running nice job

[2018-04-27 12:58] #124 closed

[2018-04-27 14:30] McOldSchool opened #125 "@Invariant"
Hey Tom, hey folks,
I run into a little, but -over time- very annoying behavior between the .resx-files and MSVS. Furthermore, I duno where it is mostly related to, so I just open an issue here.

If I mark an entry as ["@Invariant"](https://github.com/tom-englert/ResXResourceManager/wiki/Invariant-Strings) and some work on the related project file is done, all those comments are (sometimes) going

[2018-04-27 15:11] tom-englert commented on #125
@McOldSchool What is the "related project file"? Are you maybe talking about WinForms?

[2018-04-28 16:08] tom-englert commented on #117
@vRITHNER use https://github.com/remcoros/DuplicateExtensionFinder

[2018-05-01 21:19] nolme opened #126 "Neutral language"
Hi,

(first : you extension is GREAT and works very well)

During compilation I have warning like this :
'label1.Text.en : Missing translation'

In you extension I see Neutral, English, French. I need for the moment to use only 2 languages. So how can I avoid duplicate between Neutral & one of the other language (and remove the warning message ?

Thanks,
Vincent

[2018-05-02 06:30] tom-englert commented on #126
see https://github.com/tom-englert/ResXResourceManager/wiki/Invariant-Strings

[2018-05-02 06:30] #126 closed

[2018-05-02 07:41] tom-englert commented on #126
the neutral files are `<name>.resx`, so you have to rename all `<name>.fr.resx` to make them the neutral ones. Or switch to cell selection and copy all french to the neutral column, then remove all .fr.resx files.

[2018-05-03 12:59] sarchese opened #127 "remove language"
I add a language for a translation but I want to remove it. how can I do it?

Thx u!

[2018-05-03 13:04] tom-englert commented on #127
Just delete the .resx files

[2018-05-03 13:04] #127 closed

[2018-05-03 13:41] tom-englert commented on #125
@McOldSchool any input on this?

[2018-05-04 08:31] McOldSchool commented on #125
Hey Tom,
sorry for the delay. Yep it's a vb-file with a "System.Windows.Forms.Form" inside of it are some DevEx parts.

Whenever I mark an entry as  <value>.Properties.Mask.EditMask to @Invariant, everything is fine until someone is working on the vb again. After the next save, those Invariants are lost (saved in the main.resx which is showing those grayed lines in ResXResourceManager.

[2018-05-04 12:11] tom-englert commented on #125
There is some special handling to preserve the invariant when you change WinForms controls via the designer. (https://github.com/tom-englert/ResXResourceManager/blob/master/ResXManager.Model/ResourceEntity.cs#L369) Is your resource file properly nested under the form.vb and beside the form.designer.vb?

[2018-05-04 12:13] tom-englert commented on #125
Also maybe 'someone' has not installed ResXManager - in this case ResXManager can't preserve the comments.

[2018-05-04 13:29] McOldSchool commented on #125
Yes the nesting seems to be fine, but I'll have to check if the ResXManager is installed on every coworkers PC (during the next week).
But I fear there are most likely some missing since the project is a little bigger and addons/-ins are... but it this was VS is not 64bit yet (and won't be for a long time).
=> The stand-alone version won't keep track of it? (Has to be opened?)

[2018-05-08 09:34] tom-englert commented on #125
The standalone version does not have any information about the project structure, it's just working on files , it can't track this.

[2018-05-10 10:29] #91 closed

[2018-05-11 07:28] McOldSchool commented on #125
Good to know - and sad that MS overrides comments in the first place.

I'll close this issue, because everything is working as it "can" :)

[2018-05-11 07:28] #125 closed

[2018-05-14 08:35] nintoantony opened #128 "Omit specific projects"
Is there any way to omit a specific project when exporting using powershell script.

[2018-05-14 11:16] tom-englert commented on #128
Yes, as you can see in the sample you can pass the items to export:

	# Export to excel; parameters are <file name>, [<items>, [<languag(es) of values>, [<languag(es) of comments>, [<export mode>]]]]
	# All parameters except file name are optional:
	#  items:				  default = $null (export all items)
	#  languages of values:   default = $null (export all languages)
	#  languages of comments: default

[2018-05-14 11:45] #75 closed

[2018-05-15 08:22] dasdandre opened #129 "Feature Request - Initialize "Move to Resource" with last selected resource"
When using the "Move to Resource" feature multiple times **within the same source-file**, it would be very helpfull to have it initialized with the last selected resource (resx file).

[2018-05-15 13:51] JohanLarsson commented on #19
A roslyn analyzer will not see usage in xaml files.

[2018-05-15 13:53] JohanLarsson commented on #129
This analyzer has a move to resource fix: https://www.nuget.org/packages/Gu.Localization.Analyzers/0.2.0.8-dev

Maybe we can use the code in this extension.

[2018-05-15 13:55] tom-englert commented on #19
@JohanLarsson yes, this would need an analyzer per language.

[2018-05-15 14:12] JohanLarsson commented on #19
I'll see if I can write something that scans xaml files.

[2018-05-15 14:12] tom-englert commented on #129
@dasdandre currently it does, however if one assembly has a resource file, this is always on top.
The assumption is that if an assembly has a resource file, it's probably the one you want to use, and if not having the local resource but the last used as default, it's very likely that you move the resources to the wrong location when using it from code in another assembly.

The one that you used th

[2018-05-15 14:14] tom-englert commented on #19
@JohanLarsson it currently does, and works fine, since you usually don't split attributes on several lines.

[2018-05-15 14:18] JohanLarsson commented on #19
Hmm, I need to test it more then, it listed zero usages for some resources I was pretty sure were used. Thanks for the tip.

[2018-05-15 14:27] JohanLarsson commented on #19
Ok, nice, maybe I just dumbed usage then.
Thanks for this extension btw, a thing of beauty!

[2018-05-15 14:29] tom-englert commented on #19
@JohanLarsson Thanx, maybe you can tel this here: https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager#review-details

[2018-05-16 07:12] tom-englert commented on #129
@dasdandre the WinForms designer generated resource files will not be listed, so if you have just one Messages resource file, where is the conflict?

[2018-05-16 07:57] dasdandre commented on #129
@tom-englert this was just for example, sorry. Beneath the translation directory there are other files like "Enums.resx", "ColumnNames.resx" and so on. I think it is not uncommon to group resources in this way.

[2018-05-16 09:16] tom-englert commented on #129
@dasdandre  And you have this structure inside every project?

[2018-05-16 09:37] dasdandre commented on #129
@tom-englert No, not in general. Our solution consist of 36 Projects. If a string is used very often (lets say a column-name) it will end up in a public resource ...Shared/Translation/Columns.resx for example. If it is a very specific column it will be part of a project ...SpecialPlugin/Translation/Columns.resx.

How about a checkbox "Remember selection" next to the resource combo-box.

[2018-05-16 13:54] tom-englert commented on #129
@dasdandre I did some improvements on this. If the last selection was cross-project, it will remember it always, since it assumes cross-project is intended.

Can you try the latest version from http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/

[2018-05-16 14:09] dasdandre commented on #129
@tom-englert Works perfectly. Thank you very much.

[2018-05-16 14:41] tom-englert commented on #110
@JBaltika I did some improvements in the context of #129, maybe that improves usability in your case, too, since it now groups all the resources of the current project on top.

[2018-05-19 17:24] #129 closed, assigned to nobody

[2018-05-19 17:26] tom-englert commented on #128
@nintoantony did this answer your question?

[2018-05-23 09:21] mwedmark opened #130 "Problems with Jetbrains.Annotations.dll reference not found, stand-alone application does not work at all."
The stand-alone tool cannot run on any tested computer I'v tried. Not even with Visual Studio 2017 installed on the system.

![image](https://user-images.githubusercontent.com/2123085/40416730-45f8cce2-5e7e-11e8-831a-4fa08297bf2e.png)

I don't know in which version this started but on a system missing Jetbrains.Annotations.dll in the GAC the stand-alone-tool cannot be used. I think you need to mak

[2018-05-24 18:11] tom-englert commented on #130
Fixed

[2018-05-24 18:11] #130 closed

[2018-05-24 18:11] tom-englert commented on #110
@JBaltika Any feedback?

[2018-05-24 19:42] exuser opened #131 "Feature request - filter just blanks"
Hi Tom,

I am a big fan of ResXResourceManager and would like to say congratulations to you and all contributors! Keep up the good work!

I have a request if it is possible - filter blanks. Add the ability to simply show blank rows in a language. Current filters (column headers) need a string obviously, a white space does not do the job either.

In case something like this already exists, please l

[2018-05-27 15:27] tom-englert commented on #131
Hi Tony,

the easiest way is to click on the column header - the table will be sorted by this column, and all blank rows will be on the top.

If you really need to filter, just use the regular expression "^$".

[2018-05-27 15:27] #131 closed

[2018-05-27 23:16] exuser commented on #131
Thanks Tom

all the best

[2018-05-31 10:55] MrJul opened #132 "Missing/empty neutral resources aren't shown if "show only warnings" is enabled"
If you have a missing or empty resource entry value for a localized language, ResX Resource Manager will correctly keep the line in the grid when "show only lines with warnings or changes" is enabled.

However, if the missing or empty entry value is for the neutral language, it's not displayed when the option is enabled.

This behavior was working fine in v1.4, I suspect that commit 4b64b8e8b6fee8

[2018-06-01 07:34] JohanLarsson opened #133 "Adding a resource named Resources generates invalid code"
Generates:
[code]
Member name same as containing type.

Suggested fix: Append `_` to the key.

[2018-06-01 17:39] alexstam opened #134 "Suggestion, open resource from selection?"
Would it be possible to add the ability to open ResX Window with prefiled File and Key?

Example, if I select the usage of a resource and press a keyboard shortcut:
![resource](https://user-images.githubusercontent.com/37347566/40854874-16439994-65d3-11e8-817d-37960ef6d2d8.jpg)

The ResX window opens with the File and Key prefilled, like this:
![resx](https://user-images.githubusercontent.com/3734

[2018-06-03 09:05] #133 closed

[2018-06-03 14:00] tom-englert commented on #134
This would need a lot of overhead to implement, I'm not sure if this feature is worth all the work.
Maybe you want to support this an provide a PR?

[2018-06-03 14:02] tom-englert commented on #85
Maybe using the scripting module and writing a script to do the export could be the solution?

[2018-06-06 13:14] RaduDtr3s opened #135 "Move to resources not working good"
Hello, when I have an text in an Html and I want to use the option Move to Resources, the code that it replaces is like the one in the picture
![captura](https://user-images.githubusercontent.com/39994659/41040350-74c8eb6e-699c-11e8-9d21-d8b45523cf9b.PNG)
 in stead of the correct characters. Is there same way to fix it?

[2018-06-06 13:19] tom-englert commented on #135
That's exactly like it's configured:

![image](https://user-images.githubusercontent.com/10229954/41040508-e7151fa8-699c-11e8-8beb-437299af85c1.png)

isn't that right? I just copied that from s.o. who told me it should be like this...

[2018-06-06 13:36] RaduDtr3s commented on #135
No, it isn't right, it has to be server side code, it sould be like this
![captura](https://user-images.githubusercontent.com/39994659/41041449-611dfa8e-699f-11e8-9851-aaa142034b32.PNG)

[2018-06-06 13:36] tom-englert commented on #135
maybe it should be `< >` instead of `&lt; &gt;`?

[2018-06-06 13:37] RaduDtr3s commented on #135
Yes and the "=" instead of the "$", with the "$" it does not compile

[2018-06-06 13:38] tom-englert commented on #135
So you can fix that for yourself on the configuration tab. I will update the default, so it will be right in the next release.

[2018-06-06 13:39] RaduDtr3s commented on #135
Where can I find the configuration tab?

[2018-06-06 13:39] RaduDtr3s commented on #135
Ah ok I found it

[2018-06-06 13:39] tom-englert commented on #135
😄

[2018-06-06 14:53] JFMG opened #136 "CSV import & export"
Could we get a possibility to import and export CSV files?

The advantages of CSV files are that it is easier to show the difference in a version control system and that you can edit CSV with a lot of applications like Excel, Numbers, Open Office and more.

[2018-06-06 15:12] tom-englert commented on #135
so what about this pattern: `Text='<%$ Resources:Resource, WizardStep1Resource1 %>'`?
(https://msdn.microsoft.com/en-us/library/fw69ke6f.aspx#Anchor_4, https://stackoverflow.com/questions/7405605/access-global-resources-in-an-asp-net-control)
Doesn't that work?

[2018-06-06 15:22] RaduDtr3s commented on #135
In ascx files yes (C#) but in aspx files (Vb) it does not work

[2018-06-06 15:22] #135 closed

[2018-06-06 15:31] tom-englert commented on #135
OK, I've added multiple patterns, so you can select the one that works for you.

[2018-06-06 15:37] RaduDtr3s commented on #135
Okey perfect. Thank you!

[2018-06-06 20:48] AJFiori opened #137 "VS 2015 - Converting Issue/Question"
I downloaded the extension to VS and did the conversion from English to French (Canadian). When it did convert, I noticed not everything got converted. I went through and manually converted the ones that needed to be. After that I thought maybe it was the extension, so I downloaded the StandAlone App and tested with a different language. The same issue occurred. I am Connecting through an Azure ke

[2018-06-07 07:15] tom-englert commented on #137
Depends on the translation service, usually it will provide various alternatives.
I don't know why Azure reports "Custom 11" with a higher rank than the correct translation, you have to report this to the Azure Service.
![image](https://user-images.githubusercontent.com/10229954/41084011-356ab47e-6a33-11e8-9dbf-e632d9798ef1.png)

[2018-06-07 07:15] #137 closed

[2018-06-07 07:19] tom-englert commented on #136
Import/Export via GUI or just via script?

[2018-06-07 08:45] JFMG commented on #136
Via GUI, I'd say where currently the Excel export/import is

[2018-06-07 11:14] #136 closed

[2018-06-07 11:34] tom-englert commented on #136
can you try the latest build from http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/ ?

[2018-06-07 12:54] JFMG commented on #136
I just made a simple code review. Not sure how to test it with Visual Studio

[2018-06-07 14:15] tom-englert commented on #136
Just switch Export Mode to Text on the configuration tab

[2018-06-07 17:41] AJFiori commented on #137
Ahhh alright, Thank you

[2018-06-11 12:51] carloscs opened #138 "RESX sort option to sort thesame way as in the UI"
I really like the way resources are sorted in the UI: split by first underscore(s?) and sort by left part, right part.

Could we have an option to sort the RESX the same way please [maybe a checkbox "group by ResourcePrefix] :

BaseResource
BaseResource_One
BaseResource_Two
BaseResource_...
BaseResourceWithSuffix
BaseResourceWithSuffix_One
BaseResourceWithSuffix_Two
BaseResourceWithSuffix...

[2018-06-11 12:56] carloscs opened #139 "Allow editing default configuration when a solution is open"
In configuration scope add two radio buttons [* Solution Configuration] [* Default Configuration] to allow changing either one, instead of the current warning and having to close/reopen solutions when making changes.

[2018-06-12 18:47] gpreseau opened #140 "SortFileContentOnSave does not seem to work"
I have the option to sort the RESX files when saving checked in the configuration for a specific solution.
When I open a form, make a change (like adding a label) and then save, the resx files associated to the form are not sorted.

[2018-06-14 10:54] tom-englert commented on #140
This feature sorts the content after changing it using ResXManager, it has no effect when changing a resx file with a different editor, like the WinForms designer...

[2018-06-14 11:02] tom-englert commented on #139
Since changing the configuration is not an every-day task, I just wanted to avoid the extra work involved, making this dynamic.
If you thing this is an important feature, maybe you want to provide a PR for this?

[2018-06-14 11:02] gpreseau commented on #140
Oh! Ok!
Thanks for the clarification!

[2018-06-14 11:02] #140 closed

[2018-06-14 18:04] tom-englert commented on #138
What exactly do you mean by "resources are sorted in the UI"?
Your sample is a simple alphabetical sort, no special treatment of underscores...

[2018-06-14 19:10] carloscs commented on #138
Hmm, you're right, that's the alphabetical sort. Looking at the RESX confused me, made me think underscore sorted after letters...

But then... what's the sort in the RESX file? In settings I tried both "Sort using OrdinalIgnoreCase" (my original setting) and "Sort using InvariantCultureIgnoreCase" and it's sorting letters before underscores:

BaseResource
BaseResourceWithSuffix
BaseResourceWithSu

[2018-06-15 15:14] tom-englert commented on #138
So you tried two out of three, now guess what the correct setting is? :smirk:
UI is always using CurrentCulture(IgnoreCase).

[2018-06-15 15:14] #138 closed

[2018-06-18 06:59] JFMG opened #141 "Convert from UTF-16 to UTF-8"
Hi again,

is there a possibility to convert an existing ResX file from UTF-16 to UTF-8?

King regards,
JFMG

[2018-06-18 12:04] tom-englert commented on #141
Not using ResXManager.
However it's plain XML, you can simply use any XML aware text editor (e.g. VisualStudio) and just change the encoding of the file.

[2018-06-18 12:04] #141 closed

[2018-06-20 10:20] janzii opened #142 "Sorting of resource values in ui"
Seems to be a great addon, just what I was looking for.

However when I sort by resource value in the UI, I'm not getting the order I was expecting.

I have English Windows and Visual Studio, but location and preferred language in Windows settings set to Swedish/Swedish. Don't know if that matters.

Expected:
The values to be sorted same as in Visual Studio default resx editor, where for example t

[2018-06-20 12:52] #142 closed

[2018-06-24 12:46] EmilAlipiev opened #143 "very often not working in Vs2017"
Hi,

this is an awesome tool. thank you first of all but very often happens to me that when I open it using VS2017, it shows an empty designer and only way to resolve the problem is to uninstall and resinstall the extension. Do you know what could be the problem?

[2018-06-25 12:30] R0nd opened #144 "Crashes when solution includes files with too long paths"

[2018-06-25 17:40] digocesar opened #145 "File reference when MultiSelection is enabled"
When Multiple Selection is disabled ResxManager shows at status bar the file name where the resource line is.
When Multiple Seletion is enabled the status bar shows only "Multiple Selection.". But it could show the resource name if only one cell is selected, couldn't not?

[2018-06-25 17:43] digocesar opened #146 "Icon overlay on tool bar"
My ResxManager is showing the button of Snapshot over the Excel button.
I'm using Visual Studio 2013.
![image](https://user-images.githubusercontent.com/17618149/41866306-1eca207c-7886-11e8-9177-f918071c9681.png)

[2018-06-25 18:56] MichaOnGit commented on #143
Hi, it really is an excellent tool, but unfortunately I have exactly the same problem.

[2018-06-26 06:17] tom-englert commented on #143
Can you attach the messages from the output window?
________________________________
Von: Michael Wenninger<mailto:notifications@github.com>
Gesendet: ‎25.‎06.‎2018 20:56
An: tom-englert/ResXResourceManager<mailto:ResXResourceManager@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Betreff: Re: [tom-englert/ResXResourceManager] very often not working in Vs2017 (#143)

Hi, i

[2018-06-28 14:56] tom-englert commented on #143
@EmilAlipiev @MichaOnGit anyone out there?

[2018-06-28 14:58] tom-englert commented on #146
I think this was a problem with the styles of VS2013. Maybe you should try an upgrade?

[2018-06-28 14:59] tom-englert commented on #145
If you think this is a feature you need, maybe you want to submit a PR?

[2018-06-28 15:08] tom-englert commented on #144
Doesn't look like a crash, but just an error message - when exactly does this occurre?

[2018-06-28 15:22] tom-englert commented on #143
Also maybe you can find a solution here: https://github.com/tom-englert/ResXResourceManager/wiki/Fixing-errors

[2018-06-28 15:37] R0nd commented on #144
It occurs straight away when opening resxmanager
________________________________
From: tom-englert <notifications@github.com>
Sent: Thursday, June 28, 2018 6:08:02 PM
To: tom-englert/ResXResourceManager
Cc: R0nd; Author
Subject: Re: [tom-englert/ResXResourceManager] Crashes when solution includes files with too long paths (#144)

Doesn't look like a crash, but just an error message - when exactly

[2018-06-28 17:59] tom-englert commented on #144
OK, and what exactly is "It"?

[2018-06-28 18:03] R0nd commented on #144
"It" is the error message in the original post. I'd say it qualifies as a crash because the extension window closes after the error message is dismissed. The error occurs when the currently opened solution contains files with absolute paths over 260 symbols long.

[2018-06-29 09:50] gaunts commented on #143
Hello, I have the same issue. Output:

[code]

[2018-06-29 14:12] tom-englert commented on #144
I tried to reproduce, but I even could not open such a project in VS - how did you manage this?

[2018-06-29 14:47] #144 closed

[2018-06-29 15:44] tom-englert commented on #143
@gaunts this does not show any problems, can you post a screenshot that corresponds to that output?

[2018-06-29 15:54] gaunts commented on #143
![resxmanagerissue](https://user-images.githubusercontent.com/3473452/42102055-2c3ecc20-7bc5-11e8-8ed2-8258189dc9d7.PNG)

It was working correctly with the same project, before the last visual studio update.

[2018-06-29 16:43] tom-englert commented on #143
Did you try https://github.com/remcoros/DuplicateExtensionFinder to see if there are any duplicates?

[2018-07-02 09:33] FortegaITSolutions commented on #111
I'm sorry for the lack of feedback, @tom-englert
I regularly get this exception when trying to import an xlsx-file for a new language.
However, restarting visual studio works most of the time.

[2018-07-02 11:02] Spamme1 opened #147 "Export to excel also the index of the entry in resx file"
I haven't found how to export to excel also the index of the entry in resx file. It isn't that we want to change it, but to help the translators to understand the context, we make screenshots of the UIs and we put a number next to the texts, so that the translators can check where the text appears in the UI.
Therefore it would be nice to have these numbers in the excel export, just to use them as

[2018-07-02 14:23] JRi90 opened #148 ""Delete" is incomplete"
When I use "Delete", only the entries from the language files are deleted. The entry in the neutral file still exists.

Is this a bug or a feature? :)

[2018-07-03 08:37] tom-englert commented on #111
So there is nothing much that I could do here, if Visual Studio does not let me add the new file.
If restarting helps, at least you have a workaround.

[2018-07-03 09:00] tom-englert commented on #148
Maybe you have cell-selection active? In this case it will of course delete the selected cells only.

[2018-07-03 09:03] tom-englert commented on #147
Maybe you can use the MultipleSheet export mode - here every sheet corresponds to one .resx, and the row should correspond to the index.

[2018-07-03 09:14] JRi90 commented on #148
Yes, cell-selection is active. I'm going to disable the option.

It is confusing and unintuitive when you select the row with a right-click on the first column, and then only the cells of the languages are emptied during the delete. :)

[2018-07-03 09:23] JRi90 commented on #148
Would it be an option to call it "Clear" when cell-selection is active?

[2018-07-03 09:24] tom-englert commented on #148
And maybe just disable it if any of the fixed columns are selected...

[2018-07-03 09:35] jacke9999 opened #149 "Items are not created in all ResX Files"
If i create an Item, not all (mostly one or two) ResX-Files are modified.
I have 15 Languages. If i create a new Item, only these ResX-Files are modified, where i put in a Text manually. All other files are not modified. So i cannot see the changes of the separate files.

[2018-07-03 09:44] tom-englert commented on #148
UX should be improved here...

[2018-07-03 09:46] tom-englert commented on #149
Check "Create all resource files..." on the configuration tab.

[2018-07-03 09:46] #149 closed

[2018-07-03 09:54] jacke9999 commented on #149
I have checked this option, but you see at the screenshot, only three files are affected. Not all of them.
![2018-07-03_11h49_34](https://user-images.githubusercontent.com/40791057/42212744-88d6ca08-7ea6-11e8-9aa9-9f1ec760f953.jpg)
![2018-07-03_11h52_23](https://user-images.githubusercontent.com/40791057/42212845-ce869b50-7ea6-11e8-881a-a9a949c07bec.jpg)

[2018-07-03 10:47] #148 closed

[2018-07-03 10:51] jacke9999 commented on #149
Maybe an Option in an future version. This would be very helpful for version control!!

[2018-07-03 10:54] tom-englert commented on #149
I don't see too much value in this, but maybe you want to submit a PR?

[2018-07-04 06:30] Spamme1 commented on #147
@tom-englert
Maybe, at the moment we select all the entries in the grid view in the application and we paste them in excel, practically we do a manual export of the data. There are three good reasons, why we do it:
1. In the export is missing the index of the resource, which we want to use in the UI screenshots
2. The export contains also the "comment" fields, which we don't use and don't want in

[2018-07-04 10:38] tom-englert commented on #147
@Spamme1
1. Resources are key-value pairs, the index has no meaning. Using the index instead of the key is a design flaw.
2. You can hide the comments in the UI and export only the selection.
3. Of course, because you can sort the UI by any column.

[2018-07-04 10:38] #147 closed

[2018-07-05 08:12] Spamme1 commented on #147
@tom-englert
I know that the the resources are key-value pairs, the idea of exporting the index it is just to have an unique number to add to the UI screenshots to show to the translators, where the texts appear on the UI and nothing more. It isn't that we want to change them and import them back, not at all.

[2018-07-05 09:07] Intelli-Soft opened #150 "Warnings in Visual Studio (2017)"
Hey
First of all, I want to tell you, that this plugin is really cool stuff! - THX

I have a Resx file, where one Value has an empty string as wanted text. In all translations
Now, I get a warning (this is okay), but I get as many warnings, as properties are in the resx file.
In my case, I have 23 properties within the RESX file. So, I get 23 warnings, for a missing translation, but it is only the

[2018-07-05 09:19] tom-englert commented on #147
If you think this is useful, you can submit a PR

[2018-07-05 09:21] tom-englert commented on #150
@Intelli-Soft what are "properties within the RESX file"?

[2018-07-05 09:43] Intelli-Soft commented on #150
The resorce keys – sorry
Thx
Gesendet von meinem Windows 10 Phone

________________________________
Von: tom-englert <notifications@github.com>
Gesendet: Thursday, July 5, 2018 11:21:58 AM
An: tom-englert/ResXResourceManager
Cc: Harald Bacik; Mention
Betreff: Re: [tom-englert/ResXResourceManager] Warnings in Visual Studio (2017) (#150)

@Intelli-Soft<https://github.com/Intelli-Soft> what are "prop

[2018-07-05 10:09] tom-englert commented on #150
I get exactly one warning per empty cell. Can you post a screen shot?

[2018-07-05 17:23] Intelli-Soft commented on #150
Hey
Sure – I hope this works, when I embed the picture here:
[cid:image001.png@01D41495.A43F1FF0]

Von: tom-englert <notifications@github.com>
Gesendet: Donnerstag, 5. Juli 2018 12:10
An: tom-englert/ResXResourceManager <ResXResourceManager@noreply.github.com>
Cc: Harald Bacik <h.bacik@intelli-soft.at>; Mention <mention@noreply.github.com>
Betreff: Re: [tom-englert/ResXResourceManager] Warnings in

[2018-07-06 06:18] tom-englert commented on #150
@Intelli-Soft: no, there is no image embeddd

[2018-07-06 12:39] tom-englert commented on #150
Looks like your neutral column is not visible, but empty for all entries.

[2018-07-06 13:42] Intelli-Soft commented on #150
Okay. – So, it means I must set a neutral language. – Can I set the “de-at” as neutral anyhow, or do I have to copy all values from de-at to neutral?

THX

Von: tom-englert <notifications@github.com>
Gesendet: Freitag, 6. Juli 2018 14:40
An: tom-englert/ResXResourceManager <ResXResourceManager@noreply.github.com>
Cc: Harald Bacik <h.bacik@intelli-soft.at>; Mention <mention@noreply.github.com>
Betr

[2018-07-06 14:07] tom-englert commented on #150
you can just rename or copy the ???.de-at.resx file to ???.resx

[2018-07-06 14:13] Intelli-Soft commented on #150
Perfect! – THX a lot – You can close this “issue” – What wasn’t any

Von: tom-englert <notifications@github.com>
Gesendet: Freitag, 6. Juli 2018 16:07
An: tom-englert/ResXResourceManager <ResXResourceManager@noreply.github.com>
Cc: Harald Bacik <h.bacik@intelli-soft.at>; Mention <mention@noreply.github.com>
Betreff: Re: [tom-englert/ResXResourceManager] Warnings in Visual Studio (2017) (#150)

you

[2018-07-07 09:30] #150 closed

[2018-07-08 11:42] JBaltika opened #151 "Enhancement - Move to resource dialog box"
Hi Tom,

Would it be possible to add this simple enhancement to "Move to resource" dialog box. Essentially, add checkbox with value stored in user setting and depending on value generate in dialog full resource key [{File}_{Method}_{ResourceKey}]  or short version [{ResourceKey}]. What do you think? It would help as greatly as we need shorten key each time ... Thanks!

![move-to-resource-dialog-bo

[2018-07-11 19:04] DominickM324 opened #152 "VB.NET project path issue"
When using move to resource in a VB.NET solution the Code reference is only a drop-down and forces the "My Project" into the reference with a leading space. This of course generates an error in the code and has to be manually edited every time to remove the " Project" portion to correct the issue.

Originally injected:  WindowsApp1.My Project.Resources.Form1_Form1_Load_ThisIsATest

Has to be manua

[2018-07-12 11:29] #152 closed

[2018-07-12 14:25] DominickM324 commented on #152
Is there a reason this was closed without any kind of response????

[2018-07-12 14:35] DominickM324 commented on #152
Never mind I see where you updated the source with a fix. Any timeline when the next release is with this update? Working on massive application update that has thousands of resources that need to be added.

[2018-07-12 15:33] tom-englert commented on #152
Maybe next weekend
However you can use the latest build from http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/ until then

LG
Tom
________________________________
Von: DominickM324<mailto:notifications@github.com>
Gesendet: ‎12.‎07.‎2018 16:35
An: tom-englert/ResXResourceManager<mailto:ResXResourceManager@noreply.github.com>
Cc: tom-englert<mailto:mail@tom-englert.de>; State c

[2018-07-13 15:55] tom-englert commented on #143
@EmilAlipiev @MichaOnGit @gaunts any new input on this?

[2018-07-14 15:37] PhilPJL opened #153 "1.23.1138 not installing"
I can't get this to update

![image](https://user-images.githubusercontent.com/271656/42725933-28de1a84-8784-11e8-987c-d9132c148fb8.png)

Even if I uninstall and reinstall from scratch I end up with 1.22.1131.

[2018-07-14 17:30] tom-englert commented on #153
Just updated and it worked fine. Did you try https://github.com/remcoros/DuplicateExtensionFinder?

[2018-07-14 20:01] EmilAlipiev commented on #143
It looks like for me it is not repeating any longer after latest VS2017 updates. I will give my feedback if it happens again. you can close it if others have no objection :)

[2018-07-15 08:13] PhilPJL commented on #153
Yes I have.  No duplicates.

If I try to update the extension in VS 2017 I get
![image](https://user-images.githubusercontent.com/271656/42731855-d46b6940-880d-11e8-847b-b36b818cc8da.png)

If I uninstall and reinstall it ends up at 1.2.1131 again.

I have VS 2017 15.7.5 and VS 2017 15.8.0 preview 4 installed.

I've also tried on a different machine with just VS 2017 15.7.5.

This time I downloaded

[2018-07-15 08:18] PhilPJL commented on #153
Fixed.  Downloaded the .vsix from the GitHub release page, which is the correct version.

[2018-07-15 12:21] wokhan commented on #143
Well, updating to the last VS version fixed it (at least for now).
FYI I was using 15.7.4
Anyway this extension looks very promising! I was using MS Multilingual App Toolkit but am not convinced with it, especially when you realize than the extension translation itself is really bad ;-)
Thanks again

[2018-07-15 13:23] tom-englert commented on #143
OK, so I close this for now

[2018-07-15 13:36] tom-englert commented on #153
Seems that the upload to the VS Gallery was broken, just uploaded it again

[2018-07-15 13:36] #153 closed

[2018-07-16 12:40] gaunts commented on #143
Sorry @tom-englert it totally got out of my mind! The new VS update did not fix it for me :(

[2018-07-16 15:09] tom-englert commented on #143
@gaunts can you try the latest build, I've added some additional error tracing: http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/

[2018-07-17 17:35] exigocharlesw opened #154 "Add Language: English-Colombia (en-CO)"
I have need to create country specific instances of languages and Colombia does not have an english refrence. ResxResourceManager does not recognize this language and will not integrate it for management across all resources.

Is this possible to add?

[2018-07-18 08:47] bluegrams commented on #143
Hi, I also still have this issue, updating the tool and VS didn't solve it (the output also doesn't show any problems). I couldn't really figure in which cases it shows a blank page. E.g. the window is shown correctly if I start VS, then open ResX Manager first and after that open my project.

[2018-07-18 15:06] tom-englert commented on #154
You can use any language supported by Windows, see e.g. https://msdn.microsoft.com/en-us/library/cc233982.aspx

[2018-07-18 15:06] #154 closed

[2018-07-18 16:24] tom-englert commented on #143
@bluegrams maybe you can play around to find a pattern to reproduce this.

[2018-07-20 15:00] tom-englert commented on #143
That might be a hint, I'll try to use an UWP project.

[2018-07-20 18:40] DominickM324 opened #155 "ASP.NET Code: choices missing closing character"
When adding resources to an ASP.NET page and use the Move to Resource function all the choices in the code dropdown are missing the closing percent symbol. Image attached.

![aspnetresourceissue](https://user-images.githubusercontent.com/41126857/43019366-40273abe-8c4c-11e8-82a7-bc3307617f3e.png)

[2018-07-21 06:45] tom-englert commented on #80
s.o. could write a Roslyn analyzer to replace the simple text lookup with real language parsing...

[2018-07-21 13:29] tom-englert commented on #143
@bluegrams can you try the latest version from http://vsixgallery.com/extension/43b35fe0-1f30-48de-887a-68256474202a/, I've added some log to see when and how the content gets loaded.

[2018-07-22 12:12] tom-englert commented on #143
@bluegrams I tried the scenarios you have described above, but could not reproduce it.

[2018-07-22 22:37] bluegrams commented on #143
@tom-englert Sorry, I currently don't have the possibility to test the new logging on the machine where the issue occurred, I'll do that in a few days.
But I made some further testing on another machine with a newly installed VS and actually also couldn't reproduce the issue there. So it may be caused by some misconfiguration.

For the moment, thanks a lot for your effort, I really like this tool.

[2018-07-23 07:53] gaunts commented on #143
@tom-englert It started working for no specific reason on 2 of my setups. I didn't have the opportunity to test on the third one. I installed the version with more logs and will keep you updated if it happens again. Same as bluegrams, I am working on UWP projects.

[2018-07-24 08:44] gaunts commented on #143
@tom-englert It just happened !

[code]

[2018-07-24 14:22] tom-englert commented on #143
@gaunts according to the stack trace you clicked "Paste", and it showed the error message "Error parsing the data from clipboard: The data you're pasting isn't the same size as your selection."
But how could you click "Paste" if the window is empty?

[2018-07-24 15:02] gaunts commented on #143
I don't know that. I emptied my clipboard and it didn't fix it. The problem happens again but I don't get this output anymore.. Simply no output when opening the extension.

[2018-07-24 15:12] tom-englert commented on #143
@gaunts
- can you try 1.23.1149 from the VsixGallery?
- have a look at the windows content with snoop (http://www.cplotts.com/2017/10/27/snoop-2-8-0-download/) to see if it's really empty or just collapsed?

[2018-07-27 06:13] wokhan commented on #143
Previous version started failing unexpectedly (with no specific exception logged), and the latest one (1.23.1149) from vsixgallery does the same (blank screen and no errors, resizing looks alright => Content loaded: 1116,8 - 412,8).

[2018-07-27 13:05] tom-englert commented on #143
@wokhan can you then please have a look at the content with snoop?

[2018-07-29 08:16] wokhan commented on #143
The ContentPresenter inside the VsixShellView component is empty, at least according to Snoop. ActualHeight is OK though so it looks like there is indeed nothing to display...

[2018-07-31 16:46] exuser opened #157 "'' is an invalid xml:space value."
Hi there

when trying to export all to Excel, it fails with this error message:

'' is an invalid xml:space value.

I am trying to understand if this means there are apostrophes in  Key perhaps, but there are none... i have looked at the resx files individually.

Any thoughts?

![2018-07-31_17-36-18](https://user-images.githubusercontent.com/39601209/43473735-e31d1b90-94e8-11e8-8975-1b23fcb5b926.p

[2018-07-31 19:37] tom-englert commented on #157
No idea, can you post a sample?

[2018-08-01 14:47] tom-englert commented on #143
@wokhan thanks, that narrows it down a bit.

[2018-08-02 14:44] vbaskaran-hk opened #159 "Is there a way to add a line break?"
Just recently downloaded the software and am very impressed.  Great job!

This is really more of a question than an issue.  Posting it here as I could not find an answer elsewhere.

Is there a way to add line break for some of the translated values.  I have tried "\n", SHIFT-ENTER, ENTER etc.  None of them seem to work.

Any help will be greatly appreciated.

[2018-08-03 09:08] tom-englert commented on #159
It's CTRL-ENTER, all other combinations were already in use by the grid.
Alternatively you can edit in the resizeable text box right to the toolbar (like in Excel). Here you can just type ENTER.

[2018-08-03 09:08] #159 closed

[2018-08-03 15:27] vbaskaran-hk commented on #159
Thank you.  That worked out very well.  Once again, this is a wonderful product and it saved me a lot of effort and time.

[2018-08-04 14:44] tom-englert commented on #159
If you like it, you can share it here: https://marketplace.visualstudio.com/items?itemName=TomEnglert.ResXManager#review-details
:smile:

[2018-08-05 10:12] tom-englert commented on #143
@wokhan can you try again with the latest build from vsix gallery and post the output messages here?

[2018-08-05 14:28] tom-englert opened #160 "Update Chinese translation"
Add missing Chinese strings

[2018-08-05 14:30] tom-englert commented on #160
@yinyue200 there is one new string missing, can you add it, please?

[2018-08-05 16:44] yinyue200 commented on #160
@tom-englert of course 😁

[2018-08-05 17:42] #160 closed

[2018-08-05 21:10] bluegrams commented on #143
I also got to test it with Snoop now, having the same results as wokhan.

The latest build produces the following output for me if the window fails to display anything (it seems like Newtonsoft.Json is loaded twice, don't know if that is a problem):

Content loaded: 1157 - 621
VCF: RegionId changed: Shell
VCF: Update TomsToolbox.Wpf.Composition.ContentControlCompositionBehavior, RegionId=Shell, Ro

[2018-08-06 15:41] tom-englert commented on #143
@bluegrams Newtonsoft is OK here, it's not involved at all.

The problem is something in `System.Windows.Interactivity`, after adding the behavior, it does not attach it to the control...
[code]

[2018-08-08 06:43] tom-englert commented on #143
@bluegrams @wokhan can you try with the latest build from VSIXGallery and post the output?

[2018-08-08 12:17] tom-englert commented on #157
@exuser any input on this?

[2018-08-14 08:47] jerone opened #162 "Stand-alone version for translators"
For our projects we've been using XLF files for translations. To convert the XLF files to Resx files, we were using [Multilingual App Toolkit 4.0 Editor](https://developer.microsoft.com/en-us/windows/develop/multilingual-app-toolkit) (short "MAT", a tool build by Microsoft). The feedback that I get from my translators is that the tool it to complicated. It also has the big downside that it can't c

[2018-08-14 11:37] bisato opened #163 "Keys are added in first file"
When I add a new Key and only fill the translation in german, the key is also added in the first (in our case, the cs-CZ) file with empty value. Like this:
`  <data name="test" xml:space="preserve">
    <value></value>
  </data>`
See the attached sample.
[Resx.zip](https://github.com/tom-englert/ResXResourceManager/files/2286735/Resx.zip)

[2018-08-14 11:38] tom-englert commented on #162
No plans yet. People usually seem to export Excel files that they sent to the translators.
In Excel you could easily lock the columns, rows or cells you don't want to be editable.

[2018-08-14 11:42] tom-englert commented on #163
The governing file that holds all the keys, and that controls the code generation, is the neutral language file.
However you don't have a neutral language file, so ResXManager just picks the first language.

[2018-08-14 11:42] #163 closed

[2018-08-14 11:43] tom-englert commented on #157
closed, no feedback

[2018-08-14 11:43] #157 closed

[2018-08-14 14:09] jerone commented on #162
Thank you for your reply. Interesting; export to Excel. But then you miss the simplicity of sorting, searching, grouping and missing translations highlighting.

[2018-08-14 18:13] tom-englert commented on #162
But usually that's more developer related tasks. Just filter all missing translations, export them to Excel and send it to the translator, so he can concentrate on the subject.

[2018-08-14 19:34] jerone commented on #162
And it also saves us from zipping and sending all the resx files. Ok, I'm convinced Excel is the best option.

What do you think about reformulating this issue to adding an option for lock the untranslatable columns in the Excel export (project, file, key, etc...)?

[2018-08-15 06:30] tom-englert commented on #162
Good idea, this sounds reasonable. Please create a new issue for this.

[2018-08-15 06:30] #162 closed

[2018-08-16 13:39] Charles-Isaac commented on #146
The bug is still present on VS2017

[2018-08-16 19:39] Charles-Isaac commented on #146
It seems to be intermittent...
![image](https://user-images.githubusercontent.com/15947340/44230879-681aeb00-a16a-11e8-8b94-85a00d771fc9.png)

[2018-08-17 10:26] tom-englert commented on #146
It's just plain XAML, so I have no control over this:
[code]
Maybe some other extension is overwriting the global menu item style?

[2018-08-18 14:57] tom-englert commented on #143
@bluegrams can you give it another try?

[2018-08-18 17:10] wokhan commented on #143
Last update is working for me with VS 15.8… Will get back at you if it starts failing again :-)
Thanks

[2018-08-19 10:29] wokhan commented on #143
Some details:
- when the extension is docked on a side (not as a document), i.e. always visible, it doesn't get blank whatever I tried.
- if docked as a document it becomes blank _only_ when switching back from a XAML editor page.
- if docked on a side and then docked back as a document while a XAML editor has been opened in between, it also appears blank.

Definitely looks like a conflict with th

[2018-08-19 15:07] wokhan commented on #80
If I may, I think that applying a regex to the entire file (instead of using readalllines first), while using more memory, would prove more efficient and avoid the mentioned bug.
I cannot give it a try now (have to work on my own apps first), but if you want, I should be able to help...

[2018-08-19 15:11] tom-englert commented on #80
@wokhan I have once started with something like this, and it turned out to be too slow.
However if you find a better approach, I'll be happy to integrate it.

[2018-08-19 15:53] wokhan commented on #80
I used regex as a mean to parse sources (hundreds of files) before switching to Roslyn (cleaner), but it worked pretty great, maybe there was a glitch in the expression you tried? When a regex takes too long, it usually means something's wrong somewhere :-)
I'll try to find some time to work on this. Your extension is great, this is the least I can do ;-)

[2018-08-19 15:58] tom-englert commented on #80
Be aware that you have to run one regular expression per key - that's what made it slow. But maybe you can do it better :smile:.

[2018-08-19 16:10] wokhan commented on #80
I may indeed miss something ; be assured I didn't mean I _will_ do better... but well, sometimes an external look helps :-)

[2018-08-19 16:32] tom-englert commented on #80
Yes, just give it a try!

[2018-08-20 18:13] db71 commented on #143
I also have the issue with Visual Studio 2017 Preview in my case. @wokhan is right, when I have no XAML-editor open then ResXManager is working fine, but once I switched to the XAML-editor then ResXManager goes blank. Docked or not.

[2018-08-21 06:25] tom-englert commented on #143
@wokhan @db71 I assume you are talking about the UWP-XAML editor, right?

[2018-08-21 07:00] db71 commented on #143
Yes, the UWP-XAML editor in Visual Studio.

[2018-08-21 12:28] tom-englert commented on #143
Finally managed to reproduce this, and even find the root cause!
The UWP-XAML editor switches the **whole** application into design mode, so any WPF control will assume it's running in the designer!
I will raise a bug for Visual Studio, since there is nothing much I can do about this.

[2018-08-23 13:25] tom-englert commented on #143
Yes, that will affect anyone relying on that property being set correctly! I've already raised a bug at Microsoft.
However maybe I have found a temporary workaround, can you try the lastest build?

[2018-08-23 14:03] db71 commented on #143
I just tried the latest build. It seem to be working fine now. No more blank screens. Thanks!

Great extension!

Feature request:

It would be nice that when I rename a key, that the key name everywhere in the code also changes. Just like renaming a definition, where VS gives an option to rename all references too.

[2018-08-25 12:29] tom-englert commented on #143
@db71 pleas create a new issue for the feature request

[2018-08-27 09:59] Stoffe opened #164 "Please make a version for VS for MAC :)"
Missing this so much on my Visual Studio in my MAC when developing Xamarin apps...
Please look into and consider porting this to an MAC extension too...

[2018-08-27 10:09] tom-englert commented on #164
Duplicate of #53
You would have to rewrite the complete UI, which is far the biggest part of the project.
I won't be capable to do this.
However maybe some day some one will grab it?

[2018-08-27 10:09] #164 closed

[2018-08-31 18:02] tom-englert commented on #143
Added workaround in 1.24 until this gets fixed in Visual Studio by Microsoft.

[2018-08-31 18:02] #143 closed

[2018-08-31 18:03] tom-englert commented on #151
Improved in 1.24

[2018-08-31 18:03] #151 closed

[2018-08-31 18:04] tom-englert commented on #84
Added in 1.24

[2018-08-31 18:04] #84 closed

[2018-09-02 17:17] wokhan commented on #143
Thank you for everything Tom!!! Now works for me as well.

[2018-09-04 04:51] JBaltika commented on #151
Hi Tom,
I just installed latest version 1.24.1179 and don't see any changes ... Did i missed something?

[2018-09-04 13:27] JBaltika commented on #151
Awesome ! Thanks

[2018-09-04 16:09] rama21385 opened #165 "Customization for XML code documentation"
Is it possible to use something different, even blank, instead of "Looks up a localized string similar to"?

At the moment the default code documentation is

[code]

but I'd like to have just the (language) string

[code]

or

[code]

[2018-09-04 17:48] tom-englert commented on #165
You can switch to text-template code generation, then you can tweak the output as you like:
![image](https://user-images.githubusercontent.com/10229954/45048186-898d3980-b07b-11e8-8c72-9d8b0a6093bb.png)

[2018-09-05 05:12] rama21385 commented on #165
I am using VS2017 with the latest patches installed (v15.8.2).
![image](https://user-images.githubusercontent.com/30235586/45072226-57f78b00-b0da-11e8-979b-47708ce72d6b.png)

All 3 options are disabled and can't be selected.
The projects where it's not working are VB.NET WPF/XAML.

I also have a Win Forms C# project, here the options are enabled.

[2018-09-06 09:46] DJmRek opened #166 "Option for automatic removing of empty entries"
Hi there, we ran into a problem after enabling the localizable feature on our froms. It's caused by the automatic removal of empty resx-entries by ResxResourceManager. Is it possible to add an configuration option for that behavior?

[2018-09-06 14:08] tom-englert commented on #166
Sure, if someone likes to contribute this feature.

[2018-09-06 14:09] tom-englert commented on #165
This feature is not available for VB yet.
Maybe someone can provide a ported template for VB, then I can add this feature.

[2018-09-06 15:00] DJmRek commented on #166
Hi Tom, could you give me a hint were to start? E.g. where the ResXResourceManager reacts to outside changes of the resx files?

[2018-09-07 06:04] tom-englert commented on #166
Here is where empty items are removed:
https://github.com/tom-englert/ResXResourceManager/blob/a5d62dca05f0e861e415bfffef2b8151843b73b4/ResXManager.Model/ResourceLanguage.cs#L430
(I did this because many users requested it that way)
And here is the configuration:
https://github.com/tom-englert/ResXResourceManager/blob/a5d62dca05f0e861e415bfffef2b8151843b73b4/ResXManager.Model/Configuration.cs#L22

[2018-09-07 14:30] Symbai opened #168 "Request - Find duplicates"
Sometimes especially with large dictionaries it might happen that I create a new entry with a value which exists already. It would be nice to have a feature that list duplicate entries and when adding through code, warns the user about an existing item with such value already exists and offers whether to take this instead.

[2018-09-08 10:27] tom-englert commented on #168
If you use "Move to Resource" from code, it already offers you to reuse existing entries if the same values already exists, so that already exists - or do you think of something different?

[2018-09-08 14:59] tom-englert commented on #146
Can someone provide instructions how to reproduce this?
Else I will close this as not reproducible.

[2018-09-08 18:14] Symbai commented on #168
Can you add the same check for adding entries in resource dictionary too?

[2018-09-08 18:16] tom-englert commented on #168
In which dictionary?

[2018-09-08 18:30] Symbai commented on #168
VS project -> Properties -> Resources.resx
Rightclick -> open in Resx Manager
Add new key
Enter a value for it in neutral column and hit return
Duplicate check here?

[2018-09-09 10:54] #166 closed

[2018-09-09 10:55] tom-englert commented on #166
@yinyue200 can you add the translations for the two new strings?

[2018-09-09 19:15] Symbai commented on #168
I thought your program would be able to know when a new entry has been added.
And yes a messagebox. Wouldn't be annoying as it only shows up when it has detected a duplicate and we don't add duplicates all day.

Alternatively a new menu item "Check for duplicates" and then shows results if there are any, this at least should be very easy to add.

[2018-09-10 14:26] Charles-Isaac commented on #146
It happens often but it's also pretty hard to reproduce.  I'm working on finding what allows to reproduce it every times.

[2018-09-11 07:33] kipic96 opened #169 "Not showing language columns"
Hi, yesterday I installed the ResxManager tool in my Visual Studio 2017 and firstly it worked fin, but today I started it and it doesn't showing me columns with languages, only resource keys. I open it with right mouse button on resource file and 'Open in Resx Manager'. What could be cause of this or maybe I'm doing something wrong?

[2018-09-11 09:13] tom-englert commented on #169
Is there any column available in the column chooser?
![image](https://user-images.githubusercontent.com/10229954/45350301-bbd6f380-b5b3-11e8-8744-31c71145d009.png)

[2018-09-11 09:38] kipic96 commented on #169
Nothing is showing when I click the column chooser button.

[2018-09-11 09:39] tom-englert commented on #169
Any error message in the output panel?

[2018-09-11 10:26] kipic96 commented on #169
I don't see anything in output panel.

[2018-09-11 10:27] tom-englert commented on #169
Not anything or no errors?

[2018-09-11 13:04] TomVandevelde opened #170 "Visual Studio 2017 hangs"
Hi,

First of all, it's a very nice tool to manage my resx-based resources. Despite this when I open the extension, Visual Studio hangs, also when I put in a new filter.

Is it possible to take a look at it?

Thanks in advance.

Best regards, Tom.

[2018-09-11 14:57] tom-englert commented on #170
"hangs" is not very specific..., hangs forever? Even with an empty solution?
Maybe you can add some more info.

[2018-09-12 08:28] cfernandezC2i opened #171 "Bad caret visualization on Move to resource utility with Visual Studio dark theme"
Hello, I have recently installed this extension and everything seemed to work properly till I used the **Move to resource** utility.

I am using Visual Studio 2017 with dark theme. In this case, caret for text editing in the **Move to resource** utility is shown in black, making it difficult to see it. It should be white like anywhere else (like in the **ResX Resource Manager**).

![resxmanager er

[2018-09-12 08:56] TomVandevelde commented on #170
Hi, sorry for my bad explanation. The extension freezes VS for a couple of seconds (max 30 sec) when you open the resx manager. If you open it with an empty solution, I do not notice the problem.
![capture](https://user-images.githubusercontent.com/8954986/45413883-81845980-b67a-11e8-8773-f1924990a48d.PNG)
![capture2](https://user-images.githubusercontent.com/8954986/45413884-81845980-b67a-11e8-8c

[2018-09-12 16:10] tom-englert commented on #170
Sorry, ResXManager is not the only root cause here - to show the projects and the resources, it has to call some Visual Studio methods, which cause the main delay, because these calls have to be done on the main UI thread - so there is nothing much one can do about.

[2018-09-12 17:01] #171 closed

[2018-09-15 13:39] tom-englert commented on #169
@kipic96 does this now work for you?

[2018-09-17 04:41] dbruning opened #172 "qps-ploc shows as separate resource file in the resourece file list"
Just found this tool & wondering how I lived without it!

One small issue I found is that Resource.qpsploc.resx files show up in the list on the left-hand side of the window, rather than as a column in the grid. If this is not by-design, I wonder if it's because since Windows 1803 the pseudo locales won't come back in a locale enumeration query, so software wanting to support them has to do so man

[2018-09-21 18:38] Pr1Smiley opened #173 "FEature Request"
Would like to see a Spell Check that targets the Default or chosen Field

Excellent product!

[2018-09-24 07:41] tom-englert commented on #173
Spell check should work for every language where you have a full language pack installed.

[2018-09-24 11:15] #172 closed

[2018-09-24 12:39] stivoberlin opened #174 "Seems the editor doesn't group the same file"
It seems that in some cases the editor doesn't see a file as to be grouped with the other ones.

![image](https://user-images.githubusercontent.com/1432610/45952486-7d0b5980-c007-11e8-910c-bf71b41ce753.png)

[2018-09-24 12:42] stivoberlin commented on #174
exclude and include in the project did solve the problem. sorry to bother.

[2018-09-24 12:42] #174 closed

[2018-09-24 19:29] Pr1Smiley commented on #173
Tom, how do you enable spell check , as i do not see any button, am i missing something?

[2018-09-25 08:04] tom-englert commented on #173
Just added some instructions in the wiki:
https://github.com/tom-englert/ResXResourceManager/wiki/Spell-Checker

[2018-09-26 15:26] jorismathijssen opened #175 "Question about using translation as key"
Hello,

First of all this is a fantastic tool and thanks to all of the contributors!

I'm currently working with a .net core project and we use the original translation as key. Inside the language specific resx we add the translated value.

![image](https://user-images.githubusercontent.com/1663370/46090449-03af6a80-c1b1-11e8-9e23-d82fd7c5e6df.png)

according to Microsoft this is a correct way of

[2018-09-26 15:38] tom-englert commented on #175
ResXManager does not put any restrictions on the key, the screenshot above is from the VS build in resource editor.

[2018-09-27 05:27] ftamminga opened #176 "Feature Request: Remove orphaned resources"
It would be a nice addition to this great extension. Automatic removal of orphaned resources in the current solution.

[2018-09-27 08:40] ftamminga commented on #176
I just found out that there is an option that is close to what I need: Detect Code references.
So, this feature request is obsolete.

[2018-09-27 08:40] #176 closed

[2018-09-27 08:48] tom-englert commented on #173
@Pr1Smiley did that answer your question?

[2018-09-27 08:48] #170 closed

[2018-09-27 12:08] jorismathijssen commented on #175
Yes! Thank you!

[2018-09-27 15:38] tom-englert commented on #175
Now that you found you have blamed the wrong tool, maybe think again about your rating? :smirk:

[2018-09-27 15:38] #175 closed

[2018-09-29 15:48] tom-englert commented on #173
@Pr1Smiley still alive?

[2018-10-01 10:04] jerone opened #177 "Lock untranslable Excel columns"
Can you add an option to lock the columns that translators should **not** change/translate in the Excel export. That way they can't accidentally break the Excel file, and they know which columns they *can* translate.

The following columns can be locked:
* Project
* File
* Key
* Comment (all languages)

---

Ref #162

[2018-10-01 10:12] jerone opened #178 "Missing column name for neutral language in Excel"
When exporting to Excel, the column name for the neutral language is empty.

ResXResourseManager showing the neutral language as:
![image](https://user-images.githubusercontent.com/55841/46282731-944fc700-c572-11e8-8e00-277466e6a38e.png)

Excel not showing the neutral language (see column E, row 1):
![image](https://user-images.githubusercontent.com/55841/46282725-90bc4000-c572-11e8-92f4-6b293456d